/*.store{
	width: 100%;
}

.store .top {
	margin-left: 25px;
	margin-right: 25px;
}

.store .top .tittle{
	font-size: 20px;
	letter-spacing: 2px;
}

.store .top .underline_tittle{
	height: 10px;
	border-bottom: 2px solid #4A1757;
}

.store .merge{
	margin-top: 10px;
	margin-left: 25px;	
	margin-right: 25px;
	height: 700px;
}

.store .merge .left{
	float: left; 
	margin-right: 2.5%;
	width: 47.5%;
}

.store .merge .right{
	float: left;
	margin-left: 2.5%;
	width: 47.5%;
}
*/