<div *ngIf=" !isSuccess && !isConflictName && !isSuccessDeleteStore" class="space_notif"></div>
<div *ngIf=" isSuccess" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Success</div>
	</div>
</div>
<div *ngIf=" isSuccessDeleteStore" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Delete Success</div>
	</div>
</div>
<div *ngIf=" isConflictName" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Name Store Conflict</div>
	</div>
</div>
<div class="grid_page">
	<form (ngSubmit)=" f.form.valid && manipulateStore()" #f="ngForm" novalidate>
		<div class="top">
			<div class="tittle">DATA STORE</div>
			<div class="underline_tittle"></div>
		</div>
		<div class="merge">
			<div *ngIf = " isAdd || isEdit || isPreview ">
				<div class="left">
					<div class="row_space"></div>
					<div class="row_input">
						<div class="single">
							<div class="text">Nama Store</div>
							<div *ngIf = " !isPreview "> <!-- input enable -->
								<input class="input" type="text" placeholder="Nama Store" name="nameStore" [(ngModel)]="model.name_store" #nameStore="ngModel" required>
								<div class="notif" *ngIf="( nameStore.invalid && f.submitted && !isSubmit) || (nameStore.invalid && nameStore.dirty && !isSubmit)">
									<div *ngIf=" nameStore.errors.required && !isFirstNameStore ">Nama Store kosong</div>
								</div>
								<div *ngIf = "  !isSubmit && nameStore.dirty && defaultisFirstNameStore()"></div>
							</div>
							<div *ngIf = " isPreview "> <!-- input disable -->
								<input class="input" type="text"  name="nameStore" [(ngModel)]="model.name_store"  disabled="">
							</div>
						</div>
					</div>
					<div class="row_input">
						<div class="multi">
							<div class="multi_left">
								<div class="text">Provinsi</div>
								<div *ngIf = " !isPreview "> <!-- input enable -->
									<select class="input" name="nameProvince" ngModel  #nameProvince="ngModel" (change)=" clickProvince(nameProvince.viewModel)"> 
										<option value="" disabled *ngIf=" isAdd">PROVINSI</option>
										<option value="" disabled *ngIf=" isEdit">{{address_store.province_name}}</option>
										<option  *ngFor=" let prov of provinces" [ngValue]="prov" >{{prov.province_name}}</option>
									</select>
									<div class="notif" *ngIf="( f.submitted && !isSubmit)">
										<div *ngIf = " !isFirstProvinsiStore">Provinsi kosong</div> 
									</div>
								</div>
								<div *ngIf = " isPreview "> <!-- input disable -->
									<select class="input" type="select" name="nameProvince" disabled=""> 
										<option value="" disabled >{{address_store.province_name}}</option>
									</select>
								</div>
							</div>
							<div class="multi_right">
								<div class="text">Kota</div>
								<div *ngIf = " !isPreview "> <!-- input enable -->
									<select class="input" type="select"  name="nameCity" ngModel #nameCity="ngModel"  (change)=" clickCity(nameCity.viewModel)">
										<option value="" disabled *ngIf=" isAdd">KOTA</option>
										<option value="" disabled *ngIf=" isEdit">{{address_store.city_name}}</option>
										<option *ngFor=" let city of cityes" [ngValue]="city">{{city.city_name}}</option>
									</select>
									<div class="notif" *ngIf="(  f.submitted && !isSubmit)">
										<div *ngIf = " !isFirstCityStore">Kota kosong</div> 
									</div>
								</div>
								<div *ngIf = " isPreview "> <!-- input disable -->
									<select class="input" type="select" name="nameCity" disabled="">
										<option value="" disabled >{{address_store.city_name}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row_input">
						<div class="single">
							<div class="text">Alamat</div>
							<div *ngIf = " !isPreview "> <!-- input enable -->
								<input class="input" type="text" placeholder="Alamat" name="detail" [(ngModel)]="address_store.detail" #detail="ngModel" required>
								<div class="notif" *ngIf="( detail.invalid && detail.dirty && !isSubmit ) || ( detail.invalid && f.submitted && !isSubmit ) ">
									<div *ngIf=" detail.errors.required && !isFirstAlamatStore">Alamat Brand kosong</div>
								</div>
								<div *ngIf = " !isSubmit  && detail.dirty && defaultisFirstAlamatStore()"></div>
							</div>
							<div *ngIf = " isPreview "> <!-- input disable -->
								<input class="input" type="text" name="detail" [(ngModel)]="address_store.detail"  disabled="">
							</div>
						</div>
					</div>
					<div class="row_input">
						<div class="multi">
							<div class="multi_left">
								<div class="text">Email</div>
								<div *ngIf = " !isPreview "> <!-- input enable -->
									<input class="input" type="text" placeholder="Email" name="email" [(ngModel)]="contact_store.email_store" #email="ngModel" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
									<div class="notif" *ngIf="( email.invalid && email.dirty && !isSubmit ) || ( email.invalid && f.submitted && !isSubmit ) ">
										<div *ngIf=" email.errors.required && !isFirstEmailStore">Email kosong</div>
										<div *ngIf=" email.errors.pattern">Email salah</div>
									</div>
									<div *ngIf = " !isSubmit  && email.dirty && defaultisFirstEmailStore()"></div>
								</div>
								<div *ngIf = " isPreview "> <!-- input disable -->
									<input class="input" type="text" placeholder="Email" name="email" [(ngModel)]="contact_store.email_store" #email="ngModel" disabled="">
								</div>
							</div>
							<div class="multi_right">
								<div class="text">Phone</div>
								<div *ngIf = " !isPreview "> <!-- input enable -->
									<input class="input" type="text" placeholder="Phone Store" name="phoneStore" [(ngModel)]="contact_store.phone_store" #phoneStore="ngModel" required pattern="^\d+$" minlength=11 maxlength=15> 
									<div class="notif" *ngIf="( phoneStore.invalid && phoneStore.dirty && !isSubmit ) || ( phoneStore.invalid && f.submitted && !isSubmit ) ">
										<div *ngIf=" phoneStore.errors.required && !isFirstPhoneStore">Phone Store kosong</div>
										<div *ngIf=" !phoneStore.errors.pattern && phoneStore.errors.minlength">Phone Store minimal 11 digit</div>
										<div *ngIf=" phoneStore.errors.pattern && phoneStore.errors.minlength">Phone Store minimal 11 digit dan harus angka</div>
										<div *ngIf=" phoneStore.errors.pattern && !phoneStore.errors.minlength "> Phone Store harus angka</div>
									</div>
									<div *ngIf = " !isSubmit  && phoneStore.dirty && defaultisFirstPhoneStore()"></div>
								</div>
								<div *ngIf = " isPreview "> <!-- input disable -->
									<input class="input" type="text" placeholder="Phone Store" name="phoneStore" [(ngModel)]="contact_store.phone_store" #phoneStore="ngModel" disabled="" >
								</div>
							</div>
						</div>
					</div>
					<div class="row_input">
						<div class="multi">
							<div class="multi_left">
								<div class="text">Facebook</div>
								<div *ngIf = " !isPreview "> <!-- input enable -->
									<input class="input" type="text" placeholder="Facebook" name="fb" [(ngModel)]="social_media_store.fb" #fb="ngModel">
								</div>
								<div *ngIf = " isPreview "> <!-- input disable -->
									<input class="input" type="text" placeholder="Facebook" name="fb" [(ngModel)]="social_media_store.fb" #fb="ngModel" disabled="">
								</div>
							</div>
							<div class="multi_right">
								<div class="text">Instagram</div>
								<div *ngIf = " !isPreview "> <!-- input enable -->
									<input class="input" type="text" placeholder="Instagram" name="ig" [(ngModel)]="social_media_store.ig" #ig="ngModel">
								</div>
								<div *ngIf = " isPreview "> <!-- input disable -->
									<input class="input" type="text" placeholder="Instagram" name="ig" [(ngModel)]="social_media_store.ig" #ig="ngModel" disabled="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="row_space"></div>
					<div class="photo" (mouseleave)=" buttonImportImage(false)">
						<img-cropper #cropper [image]="dataImage" [settings]="cropperSettings" *ngIf = " !isPhotoDefault && !isPhotoImport "></img-cropper>

						<div class="photo_default" *ngIf = " isPhotoDefault && isAdd" (mouseover)=" buttonImportImage(true)" ></div>
						<div class="photo_ava"  *ngIf = " isPhotoDefault && isEdit">
							<img src= {{model.path_image}} (mouseover)=" buttonImportImage(true)">
						</div>
						<div class="photo_ava"  *ngIf = " isPhotoDefault && isPreview">
							<img src= {{model.path_image}}>
						</div>
						<div class="photo_import" *ngIf = " isPhotoImport" (mouseover)=" buttonImportImage(true)" >
							<img [src]=" dataImage.image" [width]="250" [height]="250">
						</div>
						<div class="button_importPhoto" *ngIf = " isButtonImportImage">
							<div class="text">
								<label>
								    <i class="fa fa-camera fa-3x" aria-hidden="true" ></i>
									<input type="file" name="image_file" (change)=" fileChangeListener($event)">
								 </label>
							</div>
						</div>
					</div>
					<div class="button_cropPhoto" (click)= " changeisPhotoImport(true) " *ngIf = " !isPhotoImport && !isPhotoDefault">
						<div class="text">Crop</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<button type="submit" class="button" *ngIf= " (((( isEdit && isPhotoDefault) || ( isEdit && isPhotoImport)) || (( isAdd  && isPhotoDefault) || ( isAdd  && isPhotoImport))) && !isPreview )" (click)=" defaultisButton()">Simpan</button>
				<button type="submit" class="button" id="disabledlocked" *ngIf= " ( isPreview )"  disabled="">Simpan</button>
				<div class="button" *ngIf= " ( (!isAdd && !isEdit && !isPreview ) ||  isPreview )" (click)=" clickAddStore()">
					<p>Tambah Store</p>
				</div>
				<table>
					<thead>
						<tr>
							<th>No</th>
							<th>ID Store</th>
							<th>Nama Store</th>
							<th>Alamat</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor=" let store of stores |  paginate: {itemsPerPage: 10, currentPage:page, id: '1'} ; let i = index " >
						<tr > 
							<td (click)=" clickPreviewStore(store.store)">{{store.nourut}}</td>
							<td (click)=" clickPreviewStore(store.store)">{{store.store.id_store}}</td>
							<td (click)=" clickPreviewStore(store.store)"> {{store.store.name_store}}</td>	
							<td (click)=" clickPreviewStore(store.store)">{{store.store.address_store.detail}}, {{store.store.address_store.city_name}}, {{store.store.address_store.province_name}}</td>
							<td (click)=" clickPreviewStore(store.store)">{{store.store.contact_store.email_store}}</td>
							<td (click)=" clickPreviewStore(store.store)">{{store.store.contact_store.phone_store}}</td>
							<td>
								<div class="merge_action">
									<div class="left">
										<div class="action_button" (click)=" clickEditStore(store.store)"><p>Edit</p></div>  
									</div>
									<div class="right">
										<div class="action_button" (click)=" clickDeleteStore( store.store)"><p id="hapus">Hapus</p></div>  
									</div>
								</div>
							</td>
						</tr>
						</ng-container>
					</tbody>
				</table>
				<div class="paggingbawah">
					<pagination-controls class="pagination-controls" (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
			    	</pagination-controls>
				</div>
			</div>
		</div>
	</form>
</div>

<div id="deletedBG"></div>
<div id="deleted">
	<div class="area_dialog_box">
		<div class="dialog_box">
			<div class="tittle_dialog_box">
				<div class="tittle">KONFIRMASI</div>
				<div id="tutup">
					<i class="fa fa-times fa-1x"  id="tutup" aria-hidden="true"></i>
				</div>
			</div>
			<div class="ask_dialog_box"> Apakah anda ingin menghapus Data Store ? Jika anda menghapus Data Store, maka otomatis Data User pada Store tersebut akan terhapus.</div>
			<div class="left">
				<div class="yes"> YES </div>
			</div>
			<div class="right">
				<div class="no">NO</div>
			</div>
		</div>
	</div>
</div>

