<div *ngIf=" !isSuccess && !isConflictNameKategori && !isSuccessDeleteKategori" class="space_notif"></div>
<div *ngIf=" isSuccess" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Success</div>
	</div>
</div>
<div *ngIf=" isSuccessDeleteKategori" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Delete Kategori Success</div>
	</div>
</div>
<div *ngIf=" isConflictNameKategori" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Name Kategori Conflict</div>
	</div>
</div>
<div class="grid_page">
	<div class="top">
		<div class="tittle">DATA KATEGORI MENU</div>
		<div class="underline_tittle"></div>
	</div>
	<div class="merge">
		<form (ngSubmit)=" f.form.valid && manipulateKategori()" #f="ngForm" novalidate>
			<div *ngIf = " isAdd || isPreview || isEdit">
				<div class="left">
					<div class="row_space"></div>
					<div class="row_input">
						<div class="single">
							<div class="text">Nama Kategori</div>
							<div *ngIf=" !isPreview"> <!-- input enable -->
								<input class="input" type="text" placeholder="Nama Kategori" name="namaKategori" [(ngModel)]="model.name_kategori" #namaKategori="ngModel" required  >
								<div class="notif" *ngIf="( namaKategori.invalid && namaKategori.dirty && !isSubmit ) || ( namaKategori.invalid && f.submitted && !isSubmit ) ">
									<div *ngIf=" namaKategori.errors.required && !isFirstNameKategori">Nama Kategori Kosong</div>
								</div>
								<div *ngIf = " !isSubmit  && namaKategori.dirty && defaultisFirstNameKategori()"></div>
							</div>
							<div *ngIf=" isPreview"> <!-- input disable -->
								<input class="input" type="text"  name="namaKategori" [(ngModel)]="model.name_kategori" disabled="" >
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<button type="submit" class="button" *ngIf=" (( isEdit || isAdd)  && !isPreview ) " (click)=" defaultisButton()">Simpan</button> <!-- button enable -->
				<button type="submit" class="button" id="disabledlocked" *ngIf= " ( isPreview )"  disabled="">Simpan</button> <!-- button disable -->
				<div class="button" *ngIf= " ( (!isAdd && !isEdit && !isPreview ) ||  isPreview )" (click)=" clickAddKategori()">
					<p>Tambah Kategori Menu</p>
				</div>

				<table>
					<thead>
						<tr>
							<th>No</th>
							<th>ID Kategori</th>
							<th>Nama Kategori</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor=" let kategori of kategoris |  paginate: {itemsPerPage: 10, currentPage:page, id: '1'} ; let i = index " >
						<tr > 
							<td (click)=" clickPreviewKategori(kategori)" > {{i+1}} </td>
							<td (click)=" clickPreviewKategori(kategori)" > {{kategori.id_kategori_menu}} </td>
							<td (click)=" clickPreviewKategori(kategori)" > {{kategori.name_kategori_menu}} </td>	
							<td >
								<div class="merge_action">
									<div class="left">
										<div class="action_button" (click)=" clickEditKategori( kategori)"><p>Edit</p></div>  
									</div>
									<div class="left">
										<div class="action_button" (click)=" clickDeleteKategori( kategori)"><p id="hapus">Hapus</p></div>  
									</div>
								</div>
							</td>
						</tr>
						</ng-container>
					</tbody>
				</table>
				<div class="paggingbawah">
					<pagination-controls class="pagination-controls" (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
			    	</pagination-controls>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="deletedBG"></div>
<div id="deleted">
	<div class="area_dialog_box">
		<div class="dialog_box">
			<div class="tittle_dialog_box">
				<div class="tittle">KONFIRMASI</div>
				<div id="tutup">
					<i class="fa fa-times fa-1x"  id="tutup" aria-hidden="true"></i>
				</div>
			</div>
			<div class="ask_dialog_box"> Apakah anda yakin ingin menghapus Data Kategori Menu?</div>
			<div class="left">
				<div class="yes"> YES </div>
			</div>
			<div class="right">
				<div class="no">NO</div>
			</div>
		</div>
	</div>
</div>