<div class="login">
	<div class="header">
		<div class="header_center">
			<div class="icon"><p>a</p></div>
			<div class="nav_header">
				<ul>
					<li><a href="#">HELP</a></li>
					<li><a href="#">SIGN UP</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div *ngIf=" !isFail && !isSuccess && !isForbiden" class="space_notif"></div>
	<div *ngIf="isFail" class="space_notif_fail">
		<div class="center">
			<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
			<div class="text">Email /Password masih salah</div>
		</div>
	</div>
	<div *ngIf="isSuccess" class="space_notif_success">
		<div class="center">
			<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
			<div class="text">Success</div>
		</div>
	</div>
	<div class="container">
		<form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
			<div class="card">
				<div class="row_tittle">Sign In</div>
				<div class="row_space"></div>
				<div class="row_contain">
					<div class="icon">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>
					<input type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required minlength="4" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
				</div>
				<div class="row_notif" *ngIf="( email.invalid && email.dirty && !isSubmit ) || ( email.invalid && f.submitted && !isSubmit ) ">
					<div *ngIf=" email.errors.required">
					    <div class="line"></div>
						<div class="text">Email Kosong</div>
					</div>
					<div *ngIf=" email.errors.pattern">
					    <div class="line"></div>
						<div class="text">Email salah</div>
					</div>
				</div>
				<div *ngIf=" email.dirty && email.invalid && isSubmit && defaultisSubmit()"></div>
				<div class="row_contain">
					<div class="icon">
						<i class="fa fa-key" aria-hidden="true"></i>
					</div>
					<input type="password"  placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required minlength=5 >
				</div>
				<div class="row_notif" *ngIf=" ( password.invalid &&  password.dirty && !isSubmit) || ( password.invalid  && f.submitted && !isSubmit)">
					<div *ngIf=" password.errors.required">
						<div class="line"></div>
						<div class="text">Password kosong</div>
					</div>
					<div *ngIf="password.errors.minlength">
						<div class="line"></div>
						<div class="text">Password minimal 5 karakter</div>
					</div>
				</div>
				

				<button type="submit" class="button_login">Sign In</button>
			</div>
		</form>
	</div>
</div>

