<div *ngIf=" !isSuccessMenu  && !isSuccessDetailMenu && !isConflictMenu && !isConflictDetailMenu && !isSuccessDeleteMenu && !isSuccessDeleteDetailMenu" class="space_notif"></div>
<div *ngIf=" isSuccessMenu" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Success</div>
	</div>
</div>
<div *ngIf=" isSuccessDeleteMenu" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Data Menu berhasil dihapus</div>
	</div>
</div>
<div *ngIf=" isSuccessDeleteDetailMenu" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Data Detail Menu berhasil dihapus</div>
	</div>
</div>
<div *ngIf=" isSuccessDetailMenu" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Success</div>
	</div>
</div>
<div *ngIf=" isConflictMenu" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Menu Conflict</div>
	</div>
</div>
<div *ngIf=" isConflictDetailMenu" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Bahan Baku Conflict</div>
	</div>
</div>
<div class="grid_page">
	<div class="top">
		<div class="tittle">DATA MENU</div>
		<div class="underline_tittle"></div>
	</div>
	<div class="merge">
		<div class="row_input">
			<div class="multi">
				<div class="multi_left">
					<div class="row_space"></div>
					<div class="text">STORE</div>
					<select class="input" name="nameStore" ngModel  #nameStore="ngModel" (change)=" clickStore(nameStore.viewModel)"> 
						<option value="" disabled >PILIH STORE</option>
						<option  *ngFor=" let store of stores" [ngValue]="store" >{{store.name_store}}</option>
					</select>
					<div class="notif" *ngIf="( isSelectStore)"> Mohon pilih store terlebih dahulu</div>
				</div>
			</div>
		</div>
		<form (ngSubmit)=" f.form.valid && manipulateMenu()" #f="ngForm" novalidate>
			<div *ngIf = " isAddMenu || isPreviewMenu || isEditMenu">
				<div class="left">
					<div class="row_space"></div>
					<div class="row_input">
						<div class="multi">
							<div class="multi_left">
								<div class="text">Nama Menu</div>
								<div *ngIf=" !isPreviewMenu"> <!-- input enable -->
									<input class="input" type="text" placeholder="Nama Menu" name="namaMenu" [(ngModel)]="menu.name_menu" #namaMenu="ngModel" required  >
									<div class="notif" *ngIf="( namaMenu.invalid && namaMenu.dirty && !isSubmit ) || ( namaMenu.invalid && f.submitted && !isSubmitMenu ) ">
										<div *ngIf=" namaMenu.errors.required && !isFirstNameMenu">Nama Menu Kosong</div>
									</div>
									<div *ngIf = " !isSubmitMenu  && namaMenu.dirty && defaultisFirstNameMenu()"></div>
								</div>
								<div *ngIf=" isPreviewMenu"> <!-- input disable -->
									<input class="input" type="text"  name="namaMenu" [(ngModel)]="menu.name_menu" disabled="" >
								</div>
							</div>
							<div class="multi_right"><!-- input enable -->
								<div class="text">Kategori Menu</div>
								<div *ngIf=" !isPreviewMenu">
									<select class="input" name="nameKategori" ngModel  #nameKategori="ngModel" (change)=" clickKategori(nameKategori.viewModel)"> 
										<option value="" disabled *ngIf=" isAddMenu">KATEGORI MENU</option>
										<option value="" disabled *ngIf=" isEditMenu">{{kategori.name_kategori_menu}}</option>
										<option  *ngFor=" let kategori of kategoris" [ngValue]="kategori" >{{kategori.name_kategori_menu}}</option>
									</select>
									<div class="notif" *ngIf="( f.submitted && !isSubmitMenu)">
										<div *ngIf = " !isFirstKategoriMenu">Kategori kosong</div> 
									</div>
								</div>
								<div *ngIf=" isPreviewMenu"><!-- input disable -->
									<select class="input" type="select" name="nameKategori" disabled="">
										<option value="" disabled >{{kategori.name_kategori_menu}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row_input">
						<div class="multi">
							<div class="multi_left">
								<div class="text">Harga</div>
								<div *ngIf=" !isPreviewMenu"> <!-- input enable -->
									<input class="input" type="text" placeholder="Harga" name="harga" [(ngModel)]="menu.price" #harga="ngModel" required pattern="^\d+$">
									<div class="notif" *ngIf="( harga.invalid && f.submitted && !isSubmitMenu) || (harga.invalid && harga.dirty && !isSubmitMenu)">
										<div *ngIf=" harga.errors.required && !isFirstPriceMenu ">Harga kosong</div>
										<div *ngIf=" harga.errors.pattern "> Harga harus angka</div>
									</div>
									<div *ngIf = "  !isSubmitMenu && harga.dirty && defaultisFirstPriceMenu()"></div>
								</div>
								<div *ngIf= " isPreviewMenu "><!-- input disable -->
									<input class="input" type="text" name="harga" [(ngModel)]="menu.price"  disabled="">
								</div>
							</div>
							<div class="multi_right"><!-- input disable -->
								<div class="text">Stok</div>
								<input class="input" type="text" placeholder="Stok" name="price" [(ngModel)]="menu.stok"  disabled="">
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="row_space"></div>
					<div class="photo" (mouseleave)=" buttonImportImage(false)">
						<img-cropper #cropper [image]="dataImage" [settings]="cropperSettings" *ngIf = " !isPhotoDefault && !isPhotoImport "></img-cropper>

						<div class="photo_default" *ngIf = " isPhotoDefault && isAddMenu" (mouseover)=" buttonImportImage(true)" ></div>
						<div class="photo_ava"  *ngIf = " isPhotoDefault && isEditMenu">
							<img src= {{menu.path_image}} (mouseover)=" buttonImportImage(true)">
						</div>
						<div class="photo_ava"  *ngIf = " isPhotoDefault && isPreviewMenu">
							<img src= {{menu.path_image}}>
						</div>
						<div class="photo_import" *ngIf = " isPhotoImport" (mouseover)=" buttonImportImage(true)" >
							<img [src]=" dataImage.image" [width]="250" [height]="250">
						</div>
						<div class="button_importPhoto" *ngIf = " isButtonImportImage">
							<div class="text">
								<label>
								    <i class="fa fa-camera fa-3x" aria-hidden="true" ></i>
									<input type="file" name="image_file" (change)=" fileChangeListener($event)">
								 </label>
							</div>
						</div>
					</div>
					<div class="button_cropPhoto" (click)= " changeisPhotoImport(true) " *ngIf = " !isPhotoImport && !isPhotoDefault">
						<div class="text">Crop</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<button type="submit" class="button" *ngIf=" (((( isEditMenu && isPhotoDefault)||(isEditMenu && isPhotoImport)) || (( isAddMenu && isPhotoDefault)||( isAddMenu && isPhotoImport))) && !isPreviewMenu ) " (click)=" defaultisButton()">Simpan Menu</button> <!-- button enable -->
				<button type="submit" class="button" id="disabledlocked" *ngIf= " ( isPreviewMenu )"  disabled="">Simpan Menu</button> <!-- button disable -->
				<div class="button" *ngIf= " ( (!isAddMenu && !isEditMenu && !isPreviewMenu ) ||  isPreviewMenu )" (click)=" clickAddMenu()">
					<p>Tambah Menu</p>
				</div>
				<table>
					<thead>
						<tr>
							<th>No</th>
							<th>ID Menu</th>
							<th>Nama Menu</th>
							<th>Harga</th>
							<th>Kategori</th>
							<th>Stok</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor=" let menu of menus |  paginate: {itemsPerPage: 10, currentPage:page, id: '1'} ; let i = index " >
						<tr > 
							<td (click)=" clickPreviewMenu(menu.menu)" > {{menu.nourut}} </td>
							<td (click)=" clickPreviewMenu(menu.menu)" > {{menu.menu.id_menu}} </td>
							<td (click)=" clickPreviewMenu(menu.menu)" > {{menu.menu.name_menu}} </td>
							<td (click)=" clickPreviewMenu(menu.menu)" > {{menu.menu.price}} </td>
							<td (click)=" clickPreviewMenu(menu.menu)" > {{menu.menu.kategori.name_kategori_menu}} </td>
							<td (click)=" clickPreviewMenu(menu.menu)" > {{menu.menu.stok}} </td>
							<td >
								<div class="merge_action">
									<div class="left">
										<div class="action_button" (click)=" clickEditMenu(menu.menu)"><p><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></p></div>  
									</div>
									<div class="left">
										<div class="action_button" (click)=" clickDeleteMenu( menu.menu)"><p id="hapus"><i class="fa fa-trash fa-lg" aria-hidden="true" id="hapus"></i></p></div>  
									</div>
								</div>
							</td>
						</tr>
						</ng-container>
					</tbody>
				</table>
				<div class="paggingbawah">
					<pagination-controls class="pagination-controls" (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
			    	</pagination-controls>
				</div>
			</div>
		</form>
		<div *ngIf=" isShowDetailMenu">
			<form (ngSubmit)=" f1.form.valid && manipulateDetailMenu()" #f1="ngForm" novalidate>
				<div *ngIf = " isAddDetailMenu || isEditDetailMenu || isPreviewDetailMenu ">
					<div class="left">
						<div class="row_space"></div>
						<div class="row_input">
							<div class="multi">
								<div class="multi_left">
									<div class="text">Bahan Baku</div>
									<div *ngIf="( !isPreviewDetailMenu || !isEditDetailMenu ) && isAddDetailMenu"> <!-- input enable -->
										<input class="input" type="text" placeholder="Bahan Baku" name="nameBahanBaku" [(ngModel)]="detail_menu.name_bahan_baku" 	
										autocomplete="off" 
										[typeahead]= "bahanbakus"
								       	[typeaheadScrollable]="true"
								       	[typeaheadOptionsInScrollableView]="5" 
								       	typeaheadMinLength = "2"
								       	(typeaheadOnSelect)="typeaheadOnSelect($event)"
								       	typeaheadOptionField="bahan_baku.name_bahan_baku"
								       	class="form-control" >
								    	<!--  	typeaheadOptionsInScrollableView ==> jml yg ditampilkan pd scroll
								       			typeaheadMinLength ==> min character utk search data -->
								       	<div class="notif" *ngIf="( f1.submitted && !isSubmitDetailMenu)">
											<div *ngIf = " !isFirstBahanBaku">Bahan Baku kosong</div> 
										</div>
									</div>
									<div *ngIf="( isPreviewDetailMenu || isEditDetailMenu )&& !isAddDetailMenu"> <!-- input disable -->
										<input class="input" type="text"  name="namaMenu" [(ngModel)]="detail_menu.name_bahan_baku" disabled="" >
									</div>
								</div>
								<div class="multi_right"><!-- input disable -->
									<div class="text">Satuan</div>
									<input class="input" type="text" placeholder="Satuan" name="satuan" [(ngModel)]="satuan.name_satuan"  disabled="">
								</div>
							</div>
						</div>
						<div class="row_input">
							<div class="multi">
								<div class="multi_left">
									<div class="text">Jumlah</div>
									<div *ngIf=" !isPreviewDetailMenu"> <!-- input enable -->
										<input class="input" type="text" placeholder="Jumlah" name="jumlah" [(ngModel)]="detail_menu.jumlah" #jumlah="ngModel" required pattern="^\d+$">
										<div class="notif" *ngIf="( jumlah.invalid && f1.submitted && !isSubmitDetailMenu) || (jumlah.invalid && jumlah.dirty && !isSubmitDetailMenu)">
											<div *ngIf=" jumlah.errors.required && !isFirstJumlahBahanBaku ">Jumlah kosong</div>
											<div *ngIf=" jumlah.errors.pattern "> Jumlah harus angka</div>
										</div>
										<div *ngIf = "  !isSubmitDetailMenu && jumlah.dirty && defaultisFirstJumlahBahanBaku()"></div>
									</div>
									<div *ngIf= " isPreviewDetailMenu "><!-- input disable -->
										<input class="input" type="text" name="jumlah" [(ngModel)]="detail_menu.jumlah"  disabled="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom">
					<button type="submit" class="button" *ngIf=" (( isEditDetailMenu  || isAddDetailMenu ) && !isPreviewDetailMenu ) " (click)=" defaultisButton()">Simpan Detail Menu</button> <!-- button enable -->
					<button type="submit" class="button" id="disabledlocked" *ngIf= " ( isPreviewDetailMenu )"  disabled="">Simpan Detail Menu</button> <!-- button disable -->
					<div class="button" *ngIf= " ( (!isAddDetailMenu && !isEditDetailMenu && !isPreviewDetailMenu ) ||  isPreviewDetailMenu )" (click)=" clickAddDetailMenu()">
						<p>Tambah Detail Menu</p>
					</div>
					<table>
						<thead>
							<tr>
								<th>No</th>
								<th>Bahan Baku</th>
								<th>Jumlah</th>
								<th>Satuan</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngFor=" let detailmenu of detailmenus |  paginate: {itemsPerPage: 10, currentPage:page, id: '1'} ; let i = index " >
							<tr > 
								<td (click)=" clickPreviewDetailMenu(detailmenu.detail_menu)" > {{detailmenu.nourut}} </td>
								<td (click)=" clickPreviewDetailMenu(detailmenu.detail_menu)" > {{detailmenu.detail_menu.name_bahan_baku}} </td>
								<td (click)=" clickPreviewDetailMenu(detailmenu.detail_menu)" > {{detailmenu.detail_menu.jumlah}} </td>
								<td (click)=" clickPreviewDetailMenu(detailmenu.detail_menu)" > {{detailmenu.detail_menu.satuan.name_satuan}} </td>
								<td >
									<div class="merge_action">
										<div class="left">
											<div class="action_button" (click)=" clickEditDetailMenu(detailmenu.detail_menu)"><p>Edit</p></div>  
										</div>
										<div class="left">
											<div class="action_button" (click)=" clickDeleteDetailMenu( detailmenu.detail_menu)"><p id="hapus">Hapus</p></div>  
										</div>
									</div>
								</td>
							</tr>
							</ng-container>
						</tbody>
					</table>
					<div class="paggingbawah">
						<pagination-controls class="pagination-controls" (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
				    	</pagination-controls>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="deletedBG"></div>
<div id="deleted">
	<div class="area_dialog_box">
		<div class="dialog_box">
			<div class="tittle_dialog_box">
				<div class="tittle">KONFIRMASI</div>
				<div id="tutup">
					<i class="fa fa-times fa-1x"  id="tutup" aria-hidden="true"></i>
				</div>
			</div>
			<div class="ask_dialog_box">
				<div id="ask1">Apakah anda ingin menghapus Data Menu ?</div>
				<div id="ask2">Apakah anda ingin menghapus Data Detail Menu ?</div>
			</div>
			<div class="left">
				<div class="yes">
					<div id="yes1">YES</div>
					<div id="yes2">YES</div>
				</div>
			</div>
			<div class="right">
				<div class="no">NO</div>
			</div>
		</div>
	</div>
</div>
  
