<!--The content below is only a placeholder and can be replaced.-->
<div class="sidebar">
	<div class="logo">
		<img src= {{brand.brand_path_image}} >
	</div>
	<div class="nameBrand">{{brand.brand_name}}</div> <!-- nameBrand from model nameBrand-->
	<div class="address">{{brand.brand_address_detail}}, {{brand.brand_city_name}}, {{brand.brand_province_name}}</div> <!-- address from model address-->
	<ul>
		<li><div id="navDashboard" (mouseover)=" displayBlock('#dashboard', '#navDashboard')" (mouseleave)=" displayNone('#dashboard', '#navDashboard')" (click)=" goTo('/dashboard')">Dashboard</div><div id="dashboard"></div></li>
		<li><div id="navBrand" (mouseover)=" displayBlock('#brand','#navBrand')" (mouseleave)=" displayNone('#brand','#navBrand')" (click)=" goTo('/brand')">Brand</div><div id="brand"></div></li>
		<li><div id="navStore" (mouseover)=" displayBlock('#store','#navStore')" (mouseleave)=" displayNone('#store','#navStore')" (click)=" goTo('/store')">Store</div><div id="store"></div></li>
		<li><div id="navUser" (mouseover)=" displayBlock('#user','#navUser')" (mouseleave)=" displayNone('#user','#navUser')" (click)=" goTo('/user')">User</div><div id="user"></div></li>
		<li><div id="navSatuanbahan" (mouseover)=" displayBlock('#satuanbahan','#navSatuanbahan')" (mouseleave)=" displayNone('#satuanbahan','#navSatuanbahan')" (click)=" goTo('/satuanbahan')">Satuan Bahan Baku</div><div id="satuanbahan"></div></li>
		<li><div id="navBahanbaku" (mouseover)=" displayBlock('#bahanbaku','#navBahanbaku')" (mouseleave)=" displayNone('#bahanbaku','#navBahanbaku')" (click)=" goTo('/bahanbaku')">Bahan Baku</div><div id="bahanbaku"></div></li>
		<li><div id="navKategorimenu" (mouseover)=" displayBlock('#kategorimenu','#navKategorimenu')" (mouseleave)=" displayNone('#kategorimenu','#navKategorimenu')" (click)=" goTo('/kategorimenu')">Kategori Menu</div><div id="kategorimenu"></div></li>
		<li><div id="navMenu" (mouseover)=" displayBlock('#menu','#navMenu')" (mouseleave)=" displayNone('#menu','#navMenu')" (click)=" goTo('/menu')">Menu</div><div id="menu"></div></li>
		<li><div id="navPembelian" (mouseover)=" displayBlock('#pembelian','#navPembelian')" (mouseleave)=" displayNone('#pembelian','#navPembelian')" (click)=" goTo('/pembelian')">Pembelian</div><div id="pembelian"></div></li>
		<li><div id="navPenjualan" (mouseover)=" displayBlock('#penjualan','#navPenjualan')" (mouseleave)=" displayNone('#penjualan','#navPenjualan')" (click)=" goTo('/penjualan')">Penjualan</div><div id="penjualan"></div></li>
		<li><div id="navLaporanpembelian" (mouseover)=" displayBlock('#laporanpembelian','#navLaporanpembelian')" (mouseleave)=" displayNone('#laporanpembelian','#navLaporanpembelian')" (click)=" goTo('/laporanpembelian')">Laporan Pembelian</div><div id="laporanpembelian"></div></li>
		<li><div id="navLaporanpenjualan" (mouseover)=" displayBlock('#laporanpenjualan','#navLaporanpenjualan')" (mouseleave)=" displayNone('#laporanpenjualan','#navLaporanpenjualan')" (click)=" goTo('/laporanpenjualan')">Laporan Penjualan</div><div id="laporanpenjualan"></div></li>
	</ul>
	<div id="test"></div>
</div>
<div class="headers">
	<div class="contain-headers">
		<div class="ava" (click)=" displayAccountSettings('#box','block')">
			<img src= {{user.path_image}} class="img-ava">
			<div id="box">
				<div class="arrow"></div>
				<ul>
					<li>
						<div class="menuProfile" (click)=" showProfile('#changeProfile')" id="roundedTop">Change Profile</div>
					</li>
					<li>
						<div class="menuProfile" (click)=" showProfile('#changePassword')" >Change Password</div>
					</li>
					<li>
						<div class="menuProfile" (click)=" showProfile( '#changeAva')" >Change Ava</div>
					</li>
					<li>
						<div class="menuProfile" (click)=" logout()" id="roundedBottom">Log Out</div>
					</li>
				</ul>
			</div>
		</div>
		<p> {{user.username}} </p>
	</div>
</div>
<div class="main">
	<router-outlet></router-outlet> 	
</div>

