<div *ngIf=" !isSuccess && !isConflictNameBahanBaku && !isSuccessDeleteBahanBaku" class="space_notif"></div>
<div *ngIf=" isSuccess" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Success</div>
	</div>
</div>
<div *ngIf=" isSuccessDeleteBahanBaku" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Delete Bahan Baku Success</div>
	</div>
</div>
<div *ngIf=" isConflictNameBahanBaku" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Conflict Nama Bahan Baku</div>
	</div>
</div>
<div class="grid_page">
	<div class="top">
		<div class="tittle">DATA BAHAN BAKU</div>
		<div class="underline_tittle"></div>
	</div>
	<div class="merge">
		<div class="row_input">
			<div class="multi">
				<div class="multi_left">
					<div class="row_space"></div>
					<div class="text">STORE</div>
					<select class="input" name="nameStore" ngModel  #nameStore="ngModel" (change)=" clickStore(nameStore.viewModel)"> 
						<option value="" disabled >PILIH STORE</option>
						<option  *ngFor=" let store of stores" [ngValue]="store" >{{store.name_store}}</option>
					</select>
					<div class="notif" *ngIf="( isSelectStore)"> Mohon pilih store terlebih dahulu</div>
				</div>
			</div>
		</div>
		<form (ngSubmit)=" f.form.valid && manipulateBahanBaku()" #f="ngForm" novalidate>
			<div *ngIf = " isAdd || isPreview || isEdit">
				<div class="left">
					<div class="row_space"></div>
					<div class="row_input">
						<div class="single">
							<div class="text">Nama Bahan Baku</div>
							<div *ngIf=" !isPreview"> <!-- input enable -->
								<input class="input" type="text" placeholder="Nama Bahan Baku" name="namaBahan" [(ngModel)]="bahan_baku.name_bahan_baku" #namaBahan="ngModel" required  >
								<div class="notif" *ngIf="( namaBahan.invalid && namaBahan.dirty && !isSubmit ) || ( namaBahan.invalid && f.submitted && !isSubmit ) ">
									<div *ngIf=" namaBahan.errors.required && !isFirstNameBahan">Nama Bahan Baku Kosong</div>
								</div>
								<div *ngIf = " !isSubmit  && namaBahan.dirty && defaultisFirstNameBahan()"></div>
							</div>
							<div *ngIf=" isPreview"> <!-- input disable -->
								<input class="input" type="text"  name="namaBahan" [(ngModel)]="bahan_baku.name_bahan_baku" disabled="" >
							</div>
						</div>
					</div>
					<div class="row_input">
						<div class="multi">
							<div class="multi_left">
								<div class="text">Stok</div>
								<div *ngIf=" !isPreview && !isEdit"> <!-- input enable -->
									<input class="input" type="text" placeholder="Stok" name="stok" [(ngModel)]="bahan_baku.stok" #stok="ngModel" required pattern="^\d+$">
									<div class="notif" *ngIf="( stok.invalid && f.submitted && !isSubmit) || (stok.invalid && stok.dirty && !isSubmit)">
										<div *ngIf=" stok.errors.required && !isFirstStok ">Stok kosong</div>
										<div *ngIf=" stok.errors.pattern "> Stok harus angka</div>
									</div>
									<div *ngIf = "  !isSubmit && stok.dirty && defaultisFirstStok()"></div>
								</div>
								<div *ngIf= " isPreview || isEdit  "><!-- input disable -->
									<input class="input" type="text" name="stok" [(ngModel)]="bahan_baku.stok"  disabled="">
								</div>
							</div>
							<div class="multi_right"><!-- input enable -->
								<div class="text">Satuan</div>
								<div *ngIf=" !isPreview">
									<select class="input" name="nameSatuan" ngModel  #nameSatuan="ngModel" (change)=" clickSatuan(nameSatuan.viewModel)"> 
										<option value="" disabled *ngIf=" isAdd">SATUAN</option>
										<option value="" disabled *ngIf=" isEdit">{{satuan.name_satuan}}</option>
										<option  *ngFor=" let satuan of satuans" [ngValue]="satuan" >{{satuan.name_satuan}}</option>
									</select>
									<div class="notif" *ngIf="( f.submitted && !isSubmit)">
										<div *ngIf = " !isFirstNameSatuan">Satuan kosong</div> 
									</div>
								</div>
								<div *ngIf=" isPreview"><!-- input disable -->
									<select class="input" type="select" name="nameSatuan" disabled="">
										<option value="" disabled >{{satuan.name_satuan}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<button type="submit" class="button" *ngIf=" (( isEdit || isAdd)  && !isPreview ) " (click)=" defaultisButton()">Simpan</button> <!-- button enable -->
				<button type="submit" class="button" id="disabledlocked" *ngIf= " ( isPreview )"  disabled="">Simpan</button> <!-- button disable -->
				<div class="button" *ngIf= " ( (!isAdd && !isEdit && !isPreview ) ||  isPreview )" (click)=" clickAddBahanBaku()">
					<p>Tambah Bahan Baku</p>
				</div>
				<table>
					<thead>
						<tr>
							<th>No</th>
							<th>ID Bahan Baku</th>
							<th>Nama Bahan Baku</th>
							<th>Stok</th>
							<th>Satuan</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor=" let bahanbaku of bahanbakus |  paginate: {itemsPerPage: 10, currentPage:page, id: '1'} ; let i = index " >
						<tr > 
							<td (click)=" clickPreviewBahanBaku(bahanbaku.bahan_baku)" > {{bahanbaku.nourut}} </td>
							<td (click)=" clickPreviewBahanBaku(bahanbaku.bahan_baku)" > {{bahanbaku.bahan_baku.bahan_baku.id_bahan_baku}} </td>
							<td (click)=" clickPreviewBahanBaku(bahanbaku.bahan_baku)" > {{bahanbaku.bahan_baku.bahan_baku.name_bahan_baku}} </td>
							<td (click)=" clickPreviewBahanBaku(bahanbaku.bahan_baku)" > {{bahanbaku.bahan_baku.bahan_baku.stok}} </td>
							<td (click)=" clickPreviewBahanBaku(bahanbaku.bahan_baku)" > {{bahanbaku.bahan_baku.bahan_baku.satuan.name_satuan}} </td>
							<td >
								<div class="merge_action">
									<div class="left">
										<div class="action_button" (click)=" clickEditBahanBaku(bahanbaku.bahan_baku)"><p>Edit</p></div>  
									</div>
									<div class="left">
										<div class="action_button" (click)=" clickDeleteBahanBaku( bahanbaku.bahan_baku)"><p id="hapus">Hapus</p></div>  
									</div>
								</div>
							</td>
						</tr>
						</ng-container>
					</tbody>
				</table>
				<div class="paggingbawah">
					<pagination-controls class="pagination-controls" (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
			    	</pagination-controls>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="deletedBG"></div>
<div id="deleted">
	<div class="area_dialog_box">
		<div class="dialog_box">
			<div class="tittle_dialog_box">
				<div class="tittle">KONFIRMASI</div>
				<div id="tutup">
					<i class="fa fa-times fa-1x"  id="tutup" aria-hidden="true"></i>
				</div>
			</div>
			<div class="ask_dialog_box"> Apakah anda yakin ingin menghapus Data Bahan Baku ? Jika anda menghapus, maka otomatis Data Menu yang berhubungan dengan Bahan Baku ini akan berubah.</div>
			<div class="left">
				<div class="yes"> YES </div>
			</div>
			<div class="right">
				<div class="no">NO</div>
			</div>
		</div>
	</div>
</div>