<div *ngIf=" !isSuccess && !isConflictEmail && !isConflictUsername && !isSuccessDeleteUser" class="space_notif"></div>
<div *ngIf=" isSuccess" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Success</div>
	</div>
</div>
<div *ngIf=" isSuccessDeleteUser" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Delete User Success</div>
	</div>
</div>
<div *ngIf=" isConflictEmail" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Email Conflict</div>
	</div>
</div>
<div *ngIf=" isConflictUsername" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Username Conflict</div>
	</div>
</div>
<div class="grid_page">
	<div class="top">
		<div class="tittle">DATA USER</div>
		<div class="underline_tittle"></div>
		<div class="sub_nav">
			<ul>
				<li><div id="userSubSuperUser" (mouseover)=" onSubNav('#userSubSuperUser')" (mouseleave)=" offSubNav('#userSubSuperUser')" (click)=" activeSubNav('#userSubSuperUser','isSuperUser')">Super User</div></li>
				<li><div id="userSubManager" (mouseover)=" onSubNav('#userSubManager')" (mouseleave)=" offSubNav('#userSubManager')" (click)=" activeSubNav('#userSubManager','isManager')">Manager</div></li>
				<li><div id="userSubSupervisor" (mouseover)=" onSubNav('#userSubSupervisor')" (mouseleave)=" offSubNav('#userSubSupervisor')" (click)=" activeSubNav('#userSubSupervisor','isSupervisor')">Supervisor Store</div></li>
				<li><div id="userSubAdmin" (mouseover)=" onSubNav('#userSubAdmin')" (mouseleave)=" offSubNav('#userSubAdmin')" (click)=" activeSubNav('#userSubAdmin','isAdmin')">Admin Store</div></li>
				<li><div id="userSubLogistic" (mouseover)=" onSubNav('#userSubLogistic')" (mouseleave)=" offSubNav('#userSubLogistic')" (click)=" activeSubNav('#userSubLogistic','isLogistic')">Logistic Store</div></li>
				<li><div id="userSubKasir" (mouseover)=" onSubNav('#userSubKasir')" (mouseleave)=" offSubNav('#userSubKasir')" (click)=" activeSubNav('#userSubKasir','isKasir')">Kasir Store</div></li>
				<li><div id="userSubServer" (mouseover)=" onSubNav('#userSubServer')" (mouseleave)=" offSubNav('#userSubServer')" (click)=" activeSubNav('#userSubServer','isServer')">Server Store</div></li>
			</ul>
		</div>
	</div>
	<div class="merge">
		<div *ngIf = " isSupervisor || isAdmin || isLogistic || isKasir || isServer">
			<div class="row_input">
				<div class="multi">
					<div class="multi_left">
						<div class="text">STORE</div>
						<div *ngIf=" isSupervisor">
							<select class="input" name="nameStoreSupervisor" ngModel  #nameStoreSupervisor="ngModel" (change)=" clickStore(nameStoreSupervisor.viewModel, 4)"> 
								<option value="" disabled *ngIf= " isSupervisor">PILIH STORE</option>
								<option  *ngFor=" let store of stores" [ngValue]="store" >{{store.name_store}}</option>
							</select>
							<div class="notif" *ngIf="( isSelectStore)"> Mohon pilih store terlebih dahulu</div>
						</div>
						<div *ngIf=" isAdmin">
							<select class="input" name="nameStoreAdmin" ngModel  #nameStoreAdmin="ngModel" (change)=" clickStore(nameStoreAdmin.viewModel, 3)"> 
								<option value="" disabled>PILIH STORE</option>
								<option  *ngFor=" let store of stores" [ngValue]="store" >{{store.name_store}}</option>
							</select>
							<div class="notif" *ngIf="( isSelectStore)"> Mohon pilih store terlebih dahulu</div>
						</div>
						<div *ngIf=" isLogistic">
							<select class="input" name="nameStoreLogistic" ngModel #nameStoreLogistic="ngModel" (change)=" clickStore(nameStoreLogistic.viewModel, 5)"> 
								<option value="" disabled>PILIH STORE</option>
								<option  *ngFor=" let store of stores" [ngValue]="store" >{{store.name_store}}</option>
							</select>
							<div class="notif" *ngIf="( isSelectStore)"> Mohon pilih store terlebih dahulu</div>
						</div>
						<div *ngIf=" isKasir">
							<select class="input" name="nameStoreKasir" ngModel  #nameStoreKasir="ngModel" (change)=" clickStore(nameStoreKasir.viewModel, 6)"> 
								<option value="" disabled>PILIH STORE</option>
								<option  *ngFor=" let store of stores" [ngValue]="store" >{{store.name_store}}</option>
							</select>
							<div class="notif" *ngIf="( isSelectStore)"> Mohon pilih store terlebih dahulu</div>
						</div>
						<div *ngIf=" isServer">
							<select class="input" name="nameStoreServer" ngModel  #nameStoreServer="ngModel" (change)=" clickStore(nameStoreServer.viewModel, 7)"> 
								<option value="" disabled>PILIH STORE</option>
								<option  *ngFor=" let store of stores" [ngValue]="store" >{{store.name_store}}</option>
							</select>
							<div class="notif" *ngIf="( isSelectStore)"> Mohon pilih store terlebih dahulu</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf = " isSuperUser || isManager || isSupervisor || isAdmin || isLogistic || isKasir || isServer">
			<form (ngSubmit)=" f.form.valid && addUser()" #f="ngForm" novalidate>
				<div *ngIf = " isAdd || isPreview">
					<div class="left">
						<div class="row_space"></div>
						<div class="row_input">
							<div class="multi">
								<div class="multi_left">
									<div class="text">Email</div>
									<div *ngIf=" !isPreview "> <!-- input enable -->
										<input class="input" type="text" placeholder="Email" name="email" [(ngModel)]="info_user.email" #email="ngModel" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
										<div class="notif" *ngIf="( email.invalid && email.dirty && !isSubmit ) || ( email.invalid && f.submitted && !isSubmit ) ">
											<div *ngIf=" email.errors.required && !isFirstEmail">Email kosong</div>
											<div *ngIf=" email.errors.pattern">Email salah</div>
										</div>
										<div *ngIf = " !isSubmit  && email.dirty && defaultisFirstEmail()"></div>
									</div>
									<div *ngIf= " isPreview"> <!-- input disable -->
										<input class="input" type="text" name="email" [(ngModel)]="info_user.email" #email="ngModel" disabled="">
									</div>
								</div>
								<div class="multi_right">
									<div class="text">Password</div>
									<div *ngIf=" !isPreview "> <!-- input enable -->
										<input class="input" type="Password" placeholder="Password" name="password" [(ngModel)]="info_user.password" #password="ngModel" minlength=5 required >
										<div class="notif" *ngIf="( password.invalid && password.dirty && !isSubmit ) || ( password.invalid && f.submitted && !isSubmit ) ">
											<div *ngIf=" password.errors.required && !isFirstPassword">Password Kosong</div>
											<div *ngIf=" password.errors.minlength">Password minimal 5 karakter </div>
										</div>
										<div *ngIf = " !isSubmit  && password.dirty && defaultisFirstPassword()"></div>
									</div>
									<div *ngIf=" isPreview"> <!-- input disable -->
										<input class="input" type="Password" name="password" [(ngModel)]="passwordDefault" #password="ngModel" disabled="">
									</div>
								</div>
							</div>
						</div>
						<div class="row_input">
							<div class="multi">
								<div class="multi_left">
									<div class="text">Username</div>
									<input class="input" type="text" placeholder="Username" name="username" [(ngModel)]="info_user.username" #username="ngModel" required>
									<div class="notif" *ngIf="( username.invalid && f.submitted && !isSubmit) || (username.invalid && username.dirty && !isSubmit)">
										<div *ngIf=" username.errors.required && !isFirstUsername ">Username kosong</div>
									</div>
									<div *ngIf = "  !isSubmit && username.dirty && defaultisFirstUsername()"></div>
								</div>
								<div class="multi_right">
									<div class="text">Phone</div>
									<input class="input" type="text" placeholder="Phone" name="phone" [(ngModel)]="info_user.phone" #phone="ngModel" required pattern="^\d+$" minlength=11 maxlength=15> 
									<div class="notif" *ngIf="( phone.invalid && phone.dirty && !isSubmit ) || ( phone.invalid && f.submitted && !isSubmit ) ">
										<div *ngIf=" phone.errors.required && !isFirstPhone">Phone kosong</div>
										<div *ngIf=" !phone.errors.pattern && phone.errors.minlength">Phone minimal 11 digit</div>
										<div *ngIf=" phone.errors.pattern && phone.errors.minlength">Phone minimal 11 digit dan harus angka</div>
										<div *ngIf=" phone.errors.pattern && !phone.errors.minlength "> Phone harus angka</div>
									</div>
									<div *ngIf = " !isSubmit  && phone.dirty && defaultisFirstPhone()"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="right" *ngIf = " isPreview">
						<div class="row_space"></div>
						<div class="photo">
							<div class="photo_ava">
								<img src= {{info_user.path_image}}>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom">
					<button type="submit" class="button" *ngIf=" isAdd " (click)=" defaultisButton()">Simpan</button>
					<div class="button" *ngIf=" !isAdd " (click)=" clickAddUser()">
						<p>Tambah User</p>
					</div>
					<table>
						<thead>
							<tr>
								<th>No</th>
								<th>ID User</th>
								<th>Username</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngFor=" let user of users |  paginate: {itemsPerPage: 10, currentPage:page, id: '1'} ; let i = index " >
							<tr > 
								<td (click)=" clickPreviewUser(user)" >{{i+1}}</td>
								<td (click)=" clickPreviewUser(user)"> {{user.info_user.id_user}} </td>
								<td (click)=" clickPreviewUser(user)"> {{user.info_user.username}} </td>	
								<td (click)=" clickPreviewUser(user)"> {{user.info_user.email}} </td>
								<td (click)=" clickPreviewUser(user)"> {{user.info_user.phone}}</td>
								<td >
									<div class="merge_action">
										<div class="single">
											<div class="action_button" (click)=" clickDeleteUser( user.info_user)"><p id="hapus">Hapus</p></div>  
										</div>
									</div>
								</td>
							</tr>
							</ng-container>
						</tbody>
					</table>
					<div class="paggingbawah">
						<pagination-controls class="pagination-controls" (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
				    	</pagination-controls>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="deletedBG"></div>
<div id="deleted">
	<div class="area_dialog_box">
		<div class="dialog_box">
			<div class="tittle_dialog_box">
				<div class="tittle">KONFIRMASI</div>
				<div id="tutup">
					<i class="fa fa-times fa-1x"  id="tutup" aria-hidden="true"></i>
				</div>
			</div>
			<div class="ask_dialog_box"> Apakah anda yakin ingin menghapus Data User ?</div>
			<div class="left">
				<div class="yes"> YES </div>
			</div>
			<div class="right">
				<div class="no">NO</div>
			</div>
		</div>
	</div>
</div>
