<div *ngIf=" !isSuccess && !isFail && !isFailAva && !isFailPass && !isFailNullPass && !isConflictUsername" class="space_notif"></div>
<div *ngIf=" isSuccess" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Success</div>
	</div>
</div>
<div *ngIf=" isFailAva" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
		<div class="text">Mohon Masukkan foto</div>
	</div>
</div>
<div *ngIf=" isFailPass" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
		<div class="text">Password Lama masih salah</div>
	</div>
</div>
<div *ngIf=" isFailNullPass" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
		<div class="text">Tidak ada data Password User</div>
	</div>
</div>
<div *ngIf=" isConflictUsername" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
		<div class="text">Conflict Username</div>
	</div>
</div>
<div class="box_profile">
	<div id="changeProfile" *ngIf=" appComponent.isChangeProfile">
		<div class=" tittle">CHANGE PROFILE</div>
		<div class="contain">
			<form (ngSubmit)=" f.form.valid && changeProfile()" #f="ngForm" novalidate>
				<div class="row_input">
					<div class="single">
						<div class="text">Email</div>
						<input class="input" type="text" placeholder="Email" name="email" [(ngModel)]=" model.email" #email="ngModel" disabled="">
					</div>
				</div>
				<div class="row_input">
					<div class="single">
						<div class="text">Username</div>
						<input class="input" type="text" placeholder="Username" name="username" [(ngModel)]="model.user.info_user.username" #username="ngModel" required >
						<div class="notif" *ngIf="( username.invalid && username.dirty && !isSubmit ) || ( username.invalid && f.submitted && !isSubmit ) ">
							<div *ngIf=" username.errors.required && !isFirstUsername">Username kosong</div>
						</div>
						<div *ngIf = " !isSubmit  && username.dirty && defaultFirstUsername()"></div>
					</div>
				</div>
				<div class="row_input">
					<div class="single">
						<div class="text">Phone</div>
						<input class="input" type="text" placeholder="Phone" name="phone" [(ngModel)]="model.user.info_user.phone" #phone="ngModel" required minlength="11" pattern="^\d+$" maxlength="15">
						<div class="notif" *ngIf="( phone.invalid && phone.dirty && !isSubmit ) || ( phone.invalid && f.submitted && !isSubmit ) ">
							<div *ngIf=" phone.errors.required && !isFirstPhone">Phone kosong</div>
							<div *ngIf=" !phone.errors.pattern && phone.errors.minlength">Phone minimal 11 digit</div>
							<div *ngIf=" phone.errors.pattern && phone.errors.minlength">Phone minimal 11 digit dan harus angka</div>
							<div *ngIf=" phone.errors.pattern && !phone.errors.minlength "> Phone harus angka</div>
						</div>
						<div *ngIf = " !isSubmit  && phone.dirty && defaultFirstPhone()"></div>
					</div>
				</div>
				<button type="submit" class="button" (click)=" defaultisButtonProfil()">Simpan</button>
			</form>
		</div>
	</div>
	<div id="changePassword" *ngIf=" appComponent.isChangePassword">
		<div class=" tittle">CHANGE PASSWORD</div>
		<div class="contain">
			<form (ngSubmit)=" f2.form.valid && changePassword()" #f2="ngForm" novalidate>
				<div class="row_input">
					<div class="single">
						<div class="text">Password Lama</div>
						<input class="input" type="Password" placeholder="Ketik Password Lama" name="oldpass" [(ngModel)]="model.old_password" #oldpass="ngModel" minlength=5 required >
						<div class="notif" *ngIf="( oldpass.invalid && oldpass.dirty && !isSubmit ) || ( oldpass.invalid && f2.submitted && !isSubmit ) ">
							<div *ngIf=" oldpass.errors.required && !isFirstOldPassword">Password Lama Kosong</div>
							<div *ngIf=" oldpass.errors.minlength">Password Lama minimal 5 karakter </div>
						</div>
						<div *ngIf = " !isSubmit  && oldpass.dirty && defaultFirstOldPassword()"></div>
					</div>
				</div>
				<div class="row_input">
					<div class="single">
						<div class="text">Password Baru</div>
						<input class="input" type="Password" placeholder="Ketik Password Baru" name="newpass" [(ngModel)]="model.new_password" #newpass="ngModel" minlength=5 required>
						<div class="notif" *ngIf="( newpass.invalid && newpass.dirty && !isSubmit ) || ( newpass.invalid && f2.submitted && !isSubmit ) ">
							<div *ngIf=" newpass.errors.required && !isFirstNewPassword">Password Baru Kosong</div>
							<div *ngIf=" newpass.errors.minlength">Password minimal 5 karakter </div>
						</div>
						<div *ngIf = " !isSubmit  && newpass.dirty && defaultFirstNewPassword()"></div>
					</div>
				</div>
				<button type="submit" class="button"  (click)=" defaultisButton()">Simpan</button>
			</form>
		</div>
	</div>
	<div id="changeAva" *ngIf=" appComponent.isChangeAva">
		<div class=" tittle">CHANGE AVA</div>
		<div class="contain_photo">
			<div class="photo" (mouseleave)=" buttonImportImage(false)">
				<img-cropper #cropper [image]="dataImage" [settings]="cropperSettings" *ngIf = " !appComponent.isAvaDefault && !appComponent.isAvaImport "></img-cropper>
				<div class="photo_ava" *ngIf = " appComponent.isAvaDefault" >
					<img src= {{appComponent.user.path_image}} (mouseover)=" buttonImportImage(true)">
				</div>
				<div class="photo_import" *ngIf = " appComponent.isAvaImport" (mouseover)=" buttonImportImage(true)" >
					<img [src]=" dataImage.image" [width]="250" [height]="250">
				</div>
				<div class="button_importPhoto" *ngIf = " isButtonImportImage">
					<div class="text">
						<label>
						    <i class="fa fa-camera fa-3x" aria-hidden="true" ></i>
							<input type="file" name="image_file" (change)=" fileChangeListener($event)">
						 </label>
					</div>
				</div>
			</div>
			<div class="buttonAva">
				<div id="crop" *ngIf = " !appComponent.isAvaDefault && !appComponent.isAvaImport"  (click)=" changeisAvaImport(true)">
					<p>Crop</p>
				</div>
				
				<div id="simpan" *ngIf = " appComponent.isAvaDefault || appComponent.isAvaImport"  (click)=" changeAva()">
					<p>Simpan</p>
				</div>
			</div>
		</div>
	</div>
</div>