.box_profile{
	width: 50%;
	margin: auto;
	border: solid 4px #EDF1F2;
	border-radius: 6px;
	background: #FAFAFA;
	margin-top: 10px;
}

.box_profile .tittle{
	font-size: 20px;
	letter-spacing: 1.5px;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
}

.box_profile .contain{
	width: 50%;
	padding-top: 30px;
	margin-left: 10px;
}

.box_profile .contain_photo{
	width: 100%;
	padding-top: 30px;
}

.box_profile .contain .button{
	background: #692E78;
	width: 100px;
	height: 40px;
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	margin-bottom: 15px;
	margin-left: 10px;
	cursor:pointer;
}

.box_profile .buttonAva{
	background: #692E78;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	border: none;
	margin: auto;
	margin-bottom: 15px;
}

#crop{
	cursor:pointer;
}

#simpan{
	cursor:pointer;
}

.buttonAva p{
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	padding-top: 8px;
}


#changeProfile{
}

#changePassword{
}

#changeAva{
}