<div *ngIf=" !isSuccess && !isBrandNull && !isBrandConflict" class="space_notif"></div>
<div *ngIf=" isSuccess" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Success</div>
	</div>
</div>
<div *ngIf=" isBrandConflict" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
		<div class="text">Nama Brand sudah digunakan</div>
	</div>
</div>
<div *ngIf=" isBrandNull" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
		<div class="text">Brand Belum terdaftar</div>
	</div>
</div>
<div class="grid_page" > 
	<form (ngSubmit)="f1.form.valid && updateBrand()" #f1="ngForm" novalidate>
		<div class="top">
			<div class="tittle">PROFIL BRAND</div>
			<div class="underline_tittle"></div>
		</div>
		<div class="merge">
			<div class="left">
				<div class="row_space"></div>
				<div class="row_input">
					<div class="single">
						<div class="text">Nama Brand</div>
						<input class="input" type="text" placeholder="Nama Brand" name="nameBrand" [(ngModel)]="model.name_brand" #nameBrand="ngModel" required>
						<div class="notif" *ngIf="( nameBrand.invalid && nameBrand.dirty && !isSubmit ) || ( nameBrand.invalid && f1.submitted && !isSubmit ) ">
							<div *ngIf=" nameBrand.errors.required && !isFirstNameBrand ">Nama Brand kosong</div>
						</div>
						<div *ngIf = " !isSubmit  && nameBrand.dirty && defaultFirstNameBrand()"></div>
					</div>
				</div>
				<div class="row_input">
					<div class="multi">
						<div class="multi_left">
							<div class="text">Provinsi</div>
							<select class="input" name="nameProvince" ngModel  #nameProvince="ngModel" (change)=" clickProvince(nameProvince.viewModel)"  >
								<option value="" disabled>{{address_brand.province_name}}</option>
							 	<option *ngFor=" let prov of provinces" [ngValue]="prov">{{prov.province_name}}</option>
							</select>
							<div class="notif" *ngIf=" ( !province.province_name)"> Provinsi Kosong</div>
						</div>
						<div class="multi_right">
							<div class="text">Kota</div>
							<select class="input" type="select"  name="nameCity" ngModel #nameCity="ngModel"  (change)=" clickCity(nameCity.viewModel)" >
								<option value="" disabled>{{address_brand.city_name}}</option>
								<option *ngFor=" let city of cityes" [ngValue]="city">{{city.city_name}}</option>
							</select>
							<div class="notif" *ngIf=" ( !isCity && !city.city_name)"> Kota Kosong</div>
						</div>
					</div>
				</div>
				<div class="row_input">
					<div class="single">
						<div class="text">Alamat</div>
						<input class="input" type="text" placeholder="Alamat" name="detail" [(ngModel)]="address_brand.detail" #detail="ngModel" required>
						<div class="notif" *ngIf="( detail.invalid && detail.dirty && !isSubmit ) || ( detail.invalid && f1.submitted && !isSubmit ) ">
							<div *ngIf=" detail.errors.required">Alamat Brand kosong</div>
						</div>
					</div>
				</div>
				<div class="row_input">
					<div class="multi">
						<div class="multi_left">
							<div class="text">Email</div>
							<input class="input" type="text" placeholder="Email" name="email" [(ngModel)]="contact.email" #email="ngModel" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
							<div class="notif" *ngIf="( email.invalid && email.dirty && !isSubmit ) || ( email.invalid && f1.submitted && !isSubmit ) ">
								<div *ngIf=" email.errors.required">Email kosong</div>
								<div *ngIf=" email.errors.pattern">Email salah</div>
							</div>
						</div>
						<div class="multi_right">
							<div class="text">Phone</div>
							<input class="input" type="text" placeholder="Phone Brand" name="phoneBrand" [(ngModel)]="contact.phone" #phoneBrand="ngModel" required pattern="^\d+$" minlength=11 maxlength=15> 
							<div class="notif" *ngIf="( phoneBrand.invalid && phoneBrand.dirty && !isSubmit ) || ( phoneBrand.invalid && f1.submitted && !isSubmit ) ">
								<div *ngIf=" phoneBrand.errors.required">Phone Brand kosong</div>
								<div *ngIf=" !phoneBrand.errors.pattern && phoneBrand.errors.minlength">Phone Brand minimal 11 digit</div>
								<div *ngIf=" phoneBrand.errors.pattern && phoneBrand.errors.minlength">Phone Brand minimal 11 digit dan harus angka</div>
								<div *ngIf=" phoneBrand.errors.pattern && !phoneBrand.errors.minlength "> Phone Brand harus angka</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row_input">
					<div class="multi">
						<div class="multi_left">
							<div class="text">Facebook</div>
							<input class="input" type="text" placeholder="Facebook" name="fb" [(ngModel)]="social_media.fb" #fb="ngModel">
						</div>
						<div class="multi_right">
							<div class="text">Instagram</div>
							<input class="input" type="text" placeholder="Instagram" name="ig" [(ngModel)]="social_media.ig" #ig="ngModel">
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="row_space"></div>
				<div class="photo" (mouseleave)=" buttonImportImage(false)">
					<img-cropper #cropper [image]="dataImage" [settings]="cropperSettings" *ngIf = " !isPhotoDefault && !isPhotoImport "></img-cropper>
					<div class="photo_ava"  *ngIf = " isPhotoDefault">
						<img src= {{appComponent.brand.brand_path_image}} (mouseover)=" buttonImportImage(true)">
					</div>
					<div class="photo_import" *ngIf = " isPhotoImport" (mouseover)=" buttonImportImage(true)" >
						<img [src]=" dataImage.image" [width]="250" [height]="250">
					</div>
					<div class="button_importPhoto" *ngIf = " isButtonImportImage">
						<div class="text">
							<label>
							    <i class="fa fa-camera fa-3x" aria-hidden="true" ></i>
								<input type="file" name="image_file" (change)=" fileChangeListener($event)">
							 </label>
						</div>
					</div>
				</div>
				<div class="button_cropPhoto" (click)= " changeisPhotoImport(true) " *ngIf = " !isPhotoImport && !isPhotoDefault">
					<div class="text">Crop</div>
				</div>
			</div>
			<div class="bottom">
				<button type="submit" class="button" *ngIf=" isPhotoDefault || isPhotoImport" (click)=" defaultisButton()">Simpan</button>
			</div>
		</div>
	</form>
</div>
