 @import "../node_modules/bootstrap/scss/bootstrap";
 @import "../node_modules/font-awesome/css/font-awesome.css";
html{

	height:100%;
};

body{
	padding:0px;
	margin:0px;
	height:100%;
};

.header{
	height: 60px;
	width: 100%;
	background: #4A1757;
	box-shadow: 0px 1px 2px #000000;
	.header_center{
		margin-left: 18%;	
		margin-right: 18%;
		.icon{
			width: 20%;
			height: 60px;
			float: left;
			p{
				padding:5%;
				text-align: center;
				color: #CD8CDE;
			}
		}
		.nav_header{
			width: 80%;
			float: right;
			ul{
				float: right;
				list-style-type: none;
				margin-top: 17px;
				li{
					float: left;
					a{
						color: #F9E0FF;;
						font-size: 17px;
						padding-right: 50px; 
	            		text-decoration: none; 
						&:hover{
							color: #FFFFFF;
						}
					}
				}
			}
		}
	}
};

.headers{
	height: 50px;
	padding-left: 200px;
	background: #4A1757;
	box-shadow: 0px 1px 2px #000000;
	color: #fff;
	.contain-headers{
		float: left;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		p{
			margin-top: 8px;
			float: right;
			margin-right: 20px;
			font-size: 15px;
			letter-spacing: 1.5px;
			font-size: 16px;
		}
		.ava{
			float: right;
			margin-right: 30px;
			position: relative;
			cursor:pointer;
			.img-ava{
				width: 40px;
				height: 40px;
				border-radius:50%;
				border:2px solid #fff;	
			}
			#box{
				z-index: 1;
				right: 0;
				width: 150px;
				position: absolute;
				display: none;
				.arrow{
					float: right;
					border-style: solid;
					border-width: 0 10px 10px 10px;
					border-color: transparent transparent #915D9E transparent;
				}
				ul {
					padding: 0px;
					li{
						list-style-type: none;
						width: 100%;
						padding:0px;
						.menuProfile{	
							color:#ffffff;
							cursor:pointer;
							float: left;
							padding: 10px;
							width:100%;
							display: block;
							text-decoration: none;
							font-size: 14px;
							letter-spacing: 1px;
							//background: #EDF1F2;
							background: #915D9E;
							
							//opacity: 0.6;
						}
						#roundedTop{
							//first value applies to top-left, second value applies to top-right, third value applies to bottom-right, and fourth value applies to bottom-left corner
							 border-radius: 7px 0px 0px 0px;
						}
						#roundedBottom{
							//first value applies to top-left, second value applies to top-right, third value applies to bottom-right, and fourth value applies to bottom-left corner
							 border-radius: 0px 0px 7px 7px;
						}
						&:hover{
							.menuProfile{
								background-color:#4A1757;
								color: #ffffff;
								width:100%;
							}
						}
					}
				}
			}
		}
	}
};

.headers-transaction{
	height: 140px;
	width: 100%;
	background: #4A1757;
	box-shadow: 0px 1px 2px #000000;
	position: fixed;
	z-index: 4;
	.contain-headers-pembelian{
		margin-left: 5%; 
		margin-right: 5%;
		padding-top: 10px;
		padding-bottom: 10px;
		color: #fff;
		.left{
			width: 90%;
			float: left;
			.img-store{
				float: left;
				width: 120px;
				height: 120px;	
			};
			.profile-store{
				float: left;
				color: #fff;
				margin-left: 20px;
				.tittle{
					font-size: 18px;
					font-weight: bold;
					letter-spacing: 1.5px;
				}
				.nameStore{
					font-size: 23px;
					font-weight: bold;
					letter-spacing: 1.8px;
					
				};
				.address{
					font-size: 13px;
					letter-spacing: 0.5px;
				};
				.date{
					margin-top: 5px;
					font-size: 14px;
					font-weight: bold;
					letter-spacing: 2px;
				};
			};
		};
		.right{
			width: 10%;
			float: left;
			.close-pembelian{
				float: right;
				color: #fff;
				cursor: pointer;
				margin-left: 20px;
			};
			/* .username{
				line-height: 120px;
				float: right;
				margin-right: 20px;
				font-size: 15px;
				letter-spacing: 1.5px;
			};
			.img-ava{
				float: right;
				width: 120px;
				height: 120px;
				border:2px solid #fff;	
				border-radius:50%;
			}; */
		};
	};
};

.space_notif{
	height: 40px;
	background: white;
};

.space_notif_fail{
	height: 40px;
	background: #D10000;
	.center{
		margin-left: 18%;
		.icon{
			float: left;
			margin-right: 10px;
			padding-top: 9px;
			font-size: 14px;
			letter-spacing: 1px;
			color: white;
		}
		.text{
			float: left;
			margin-left: 10px;
			padding-top: 9px;
			font-size: 14px;
			letter-spacing: 1px;
			color: white;
		}
	}
	.centerAll{
		margin-left: 2%;
		.icon{
			float: left;
			margin-right: 10px;
			font-size: 17px;
			letter-spacing: 1px;
			color: white;
		}
		.text{
			float: left;
			margin-left: 10px;
			font-size: 17px;
			letter-spacing: 1px;
			color: white;
		}
	}	
};

.space_notif_success{
	height: 40px;
	background: #3DB800;
	.center{
		margin-left: 18%;
		.icon{
			float: left;
			margin-right: 10px;
			padding-top: 9px;
			font-size: 14px;
			letter-spacing: 1px;
			color: white;
		};
		.text{
			float: left;
			margin-left: 10px;
			padding-top: 9px;
			font-size: 14px;
			letter-spacing: 1px;
			color: white;
		};
	};
	.centerAll{
		margin-left: 2%;
		.icon{
			float: left;
			margin-right: 10px;
			font-size: 17px;
			letter-spacing: 1px;
			color: white;
		};
		.text{
			float: left;
			margin-left: 10px;
			font-size: 17px;
			letter-spacing: 1px;
			color: white;
		};
	};
};

.register{
	left:0px;
	top:0;
	width: 100%;
	height: 100%;
	position:fixed;
	background: #ffffff;
	.container{
		margin-top: 5px;
		width: 100%;
		height: 100%;
		.card{
			padding-top: 20px;
			width: 320px;
			margin: auto;
			border: none;
			.row_tittle{
				float: left;
				text-align: center;
    			border-bottom: 2px solid #DEDEDE;
    			font-size: 22px;
    			color: #4A4A4A;
    			padding-bottom: 5px;
    			letter-spacing: 1.5px;
			};
			.row_notif{
				.line{
					border-top: 1.5px solid #692E78;
				};
				.text{
					font-size: 12px;
					margin-top: 15px;
					margin-left: 17px;
					color: #692E78;
				};
			};
			.row_contain{
				padding-top: 30px;
				border-bottom: 1px solid #DEDEDE;
				color: #ABABAB;
				font-size: 15px;
				.icon{ 
					width: 50px;
					float: left;
					text-align: center;
					padding-bottom: 5px;
				};
				input{
				    border: none;
				    background: transparent;
				    width: 269px;
				    color: #9E9E9E;
				    padding-bottom: 5px;
				    letter-spacing: 1px;
				};
			};
			input:focus{
				outline: none;
			};
			.button_register{
				margin-top: 30px;
				background: #692E78;
				height: 40px;
				text-align: center;
				color: #ffffff;
				font-size: 15px;
				border-radius: 5px;
				border: none;
			};
		};
	};
	.container_info{
		margin-top: 5px;
		width: 100%;
		.top{
			margin-left: 18%;	
			margin-right: 18%;
			.tittle{
				font-size: 20px;
				letter-spacing: 2px;
			};
			.underline_tittle{
				height: 10px;
				border-bottom: 2px solid #DEDEDE;
			};
		};
		.merge{
			margin-left: 18%;	
			margin-right: 18%;
			height: 700px;
			.row_tittle{
				padding-top: 25px;
	    		font-size: 16px;
	    		color: #4A4A4A;
	    		letter-spacing: 1px;
			};
			.underline{
				height: 10px;
				border-bottom: 2px solid #DEDEDE;
			};
			.left{
				float: left; 
				margin-right: 2.5%;
				width: 47.5%;
			};
			.right{
				float: left;
				margin-left: 2.5%;
				width: 47.5%;
				.button_cropPhoto{
					margin: auto;
					background: #692E78;
					width: 80px;
					height: 40px;
					border-radius: 5px;
					border: none;
					cursor: pointer;
					.text{
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						text-align: center;
						color: #ffffff;
						font-size: 15px;
					};
				};
			};
			.bottom{
				float: left;
				width: 100%;
				.button_registerInfo{
					float: right;
					//margin-top: 30px;
					background: #692E78;
					width: 100px;
					height: 40px;
					text-align: center;
					color: #ffffff;
					font-size: 15px;
					border-radius: 5px;
					border: none;
					cursor:pointer;
				};
			};
		};
	};
};

.login{
	z-index: 2;
	left:0px;
	top:0;
	width: 100%;
	height: 100%;
	position:fixed;
	background: #ffffff;
	.container{
		margin-top: 5px;
		width: 100%;
		height: 100%;
		.card{
			padding-top: 20px;
			width: 320px;
			margin: auto;
			border: none;
			.row_tittle{
				float: left;
				text-align: center;
    			border-bottom: 2px solid #DEDEDE;
    			font-size: 22px;
    			color: #4A4A4A;
    			padding-bottom: 5px;
    			letter-spacing: 1.5px;
			}
			.row_notif{
				.line{
					border-top: 1.5px solid #692E78;
				}
				.text{
					font-size: 12px;
					margin-top: 15px;
					margin-left: 17px;
					color: #692E78;
				}
			}
			.row_contain{
				padding-top: 30px;
				border-bottom: 1px solid #DEDEDE;
				color: #ABABAB;
				font-size: 15px;
				.icon{ 
					width: 50px;
					float: left;
					text-align: center;
					padding-bottom: 5px;
				}
				input{
				    border: none;
				    background: transparent;
				    width: 269px;
				    color: #9E9E9E;
				    padding-bottom: 5px;
				    letter-spacing: 1px;
				}
			}
			input:focus{
				outline: none;
			}
			.button_login{
				margin-top: 30px;
				background: #692E78;
				height: 40px;
				text-align: center;
				color: #ffffff;
				font-size: 15px;
				border-radius: 5px;
				border: none;
				cursor:pointer;
			}
		}
	}
};

.sidebar{	
	width: 200px;
	height: 100%;
	background: #fff;
	position:fixed;
	border-right: solid #4A1757 1.75px;
	overflow:auto;
	.logo{
		margin-top: 10px;
		width: 100%;
		img{
			margin-right: 25%;
			margin-left: 25%;
			width: 50%;
			height: 100px;
		};
	};
	.nameBrand{
		margin-top: 10px;
		margin-left: 1px;
		margin-right: 1px;
		font-size: 18px;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 18px;
		color: #000;
	};
	.address{
		margin-top: 5px;
		font-size: 13px;
		margin-left: 1px;
		margin-right: 1px;
		text-align: center;
		letter-spacing: 1.2px;
		line-height: 15px;
		color: #000;
	};
	ul {
		margin-top: 35px;
		padding: 0px;
		li{
			list-style-type: none;
			width: 100%;
			padding:0px;
			#navDashboard, #navStore, #navUser, #navKategorimenu, #navSatuanbahan, #navBahanbaku, #navMenu, #navPembelian, #navPenjualan, #navLaporanpembelian, #navLaporanpenjualan, #navBrand{
				background-color: #fff;
				color:#4A1757;
				cursor:pointer;
				float: left;
				padding: 10px;
				width:98%;
				/* padding: 13px;
				width: 85%; */
				display: block;
				text-decoration: none;
				font-size: 16px;
				letter-spacing: 1px;
			};
			#dashboard, #store, #user, #kategorimenu, #satuanbahan, #bahanbaku, #menu, #pembelian, #penjualan, #laporanpembelian, #laporanpenjualan, #brand{
				float: left;
				width: 2%;
				height: 44px;
				background: #4A1757;
				display: none;
			};
		};
	};
};

.main{

	padding-left: 200px;
};

.photo{
	margin: auto; 
	width: 275px;
	height:  275px;
	background: #D1D1D1;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #000;
	margin-bottom: 20px;
	.photo_default{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: auto; 
		background-image: url(/assets/image/defaultBrand.jpg);
		width: 250px;
		height: 250px;
	};
	.photo_ava{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: auto; 
		width: 250px;
		height: 250px;
		img{
			width: 250px;
			height: 250px;
		};
	};
	.button_importPhoto{
		position: relative;
		bottom: 16%;
		width: 275px;
		height: 70px;
		background: #D1D1D1;
		border-radius: 5px;
		opacity: 0.90;
		.text{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-align: center; 
			label{
			    color: #fff;
			    input[type="file"] {
				    display: none;
				};
		    };
		};
	};
	.photo_import{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: auto; 
		width: 250px;
		height: 250px;
	};
};

.row_space{

	height: 25px;
};

.row_input{
	.text{
		font-size: 15px;
		letter-spacing: 2px;
		margin-left: 2px;
		margin-bottom: 5px;
		color: #000;
	};
	.single{
		float: left;
		width: 100%;
		margin-bottom: 25px;
		.input{
			background: transparent;
		    color: #9E9E9E;
		    width: 100%;
		    line-height: 35px;
		    letter-spacing: 1px;
		    border-radius: 5px;
		    padding-left: 10px;
		};
		.notif{
			font-size: 12px;
			margin-top: 5px;
			margin-left: 5px;
			color: #692E78;
		};
	};
	.multi{
		float: left;
		width: 100%;
		margin-bottom: 25px;
		.multi_left{
			float: left;
			margin-right: 1%;
			width: 49%;
			//margin-bottom: 25px;
		    .input{
		    	background: transparent;
		    	width: 100%;
			    color: #9E9E9E;
			    line-height: 35px;
			    height: 35px;
			    letter-spacing: 1px;
			    border-radius: 5px;
			    padding-left: 10px;
		    };
		    .notif{
		    	font-size: 12px;
				margin-top: 5px;
				margin-left: 5px;
				color: #692E78;
				width: 100%;
		    };
		};
		.multi_right{
			float: left;
			margin-left: 1%;
			width: 49%;
			//margin-bottom: 25px;
			.input{
				background: transparent;
			    color: #9E9E9E;
			    width: 100%;
			    line-height: 35px;
			    height: 35px;
			    letter-spacing: 1px;
			    border-radius: 5px;
			    padding-left: 10px;
			};
			.notif{
				font-size: 12px;
				margin-top: 5px;
				margin-left: 5px;
				color: #692E78;
				width: 100%;
			};
		};
	};	
};

.grid_page{
	width: 100%;
	.top{
		margin-left: 25px;
		margin-right: 25px;
		.tittle{
			font-size: 20px;
			letter-spacing: 2px;
		};
		.underline_tittle{
			height: 10px;
			border-bottom: 2px solid #4A1757;
		};
		.sub_nav{
			width: 100%;
			float: right;
			ul{
				float: right;
				list-style-type: none;
				li{
					float: left;
					#userSubSuperUser, #userSubManager, #userSubAdmin, #userSubSupervisor, #userSubLogistic, #userSubKasir, #userSubServer{
						margin-left: 5px;
						color: #4A1757;
						background: #fff;
						font-size: 17px;
						padding: 10px;
	            		text-decoration: none; 
	            		cursor:pointer;
					};
				};
			};
		};
	};
	.merge{
		margin-top: 10px;
		margin-left: 25px;	
		margin-right: 25px;
		.left {
			float: left; 
			margin-right: 2.5%;
			width: 47.5%;
		};
		.right{
			float: left;
			margin-left: 2.5%;
			width: 47.5%;
			.button_cropPhoto{
				margin: auto;
				background: #692E78;
				width: 80px;
				height: 40px;
				border-radius: 5px;
				border: none;
				cursor: pointer;
				.text{
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					text-align: center;
					color: #ffffff;
					font-size: 15px;
					letter-spacing: 2px;
				};
			};
		};
		.bottom{
			margin-top: 20px;
			float: left;
			width: 100%;
			.button{
				float: left;
				margin-right: 20px;
				background: #692E78;
				padding-left: 20px;
				padding-right: 20px;
				height: 40px;
				text-align: center;
				color: #ffffff;
				font-size: 15px;
				border-radius: 5px;
				border: none;
				cursor:pointer;
				letter-spacing: 2px;
				p{
					text-align: center;
					color: #ffffff;
					font-size: 15px;
					margin-top: 9px;
					letter-spacing: 2px;
				};
			};
		};
	};
};

table{
	margin-top: 60px;
	width: 100%;
	border: 1px solid #fff;
	thead{
		background: #692E78;
		tr{
			th{
				padding: 10px;
				border: 1.5px solid #fff;
				color: #fff;
				font-size: 15px;
				letter-spacing: 2px;
			};
		};
	};
	tbody{
		tr{
			background: #F7F7F7;
			td{
				padding-left:10px;
				padding-right:10px;
				border: 1px solid #fff;
				.merge_action{
					margin-top: 15px;
					width: 100%;
					.left{
						float: left;
						width: 47%;
					};
					.right{
						float: left;
						width: 47%;
					};
					.single{
						width: 100%;
					};
					.action_button{
						background: #692E78;
						border-radius: 5px;
						border: none;
						cursor: pointer;
						p{
							padding: 7px;
							text-align: center;
							color: #ffffff;
							font-size: 14px;
						};
					};
				};
			};
		};
		tr:hover {
		  background-color: #F7E8FF;
		};
	};
};

.paggingbawah{
	width: 100%;
	margin-top: 15px;
	.pagination-controls{
		margin: auto;
	};
};

#disabledlocked{

	cursor: default;
};

#hapus{
};

#deletedBG{
	display: none;
	z-index: 4;
	left:0px;
	top:0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
};

#deleted{
	display:none;
	z-index: 5;
	left:0px;
	top:0;
	position: fixed;
	width: 100%;
	height: 100%;
    .area_dialog_box {
	  	position: relative;
	  	height: 200px;
	  	width: 60%;
	  	margin: 0 auto;
	  	padding: 20px;
	  	/* background: red; */
	  	.dialog_box {
		  	background: #fff;
		  	border-radius: 5px;
		  	box-shadow: 0px 1px 10px #000;
		  	color: #4A1757;
		  	width: 400px;
		  	margin-top: 40px;
		  	transform: translate(-50%, -50%);
		  	position: absolute;
		  	top: 50%;
		  	left: 50%;
		  	text-align: center;
		  	.tittle_dialog_box{
		  		margin-top: 10px;
		  		margin-bottom: 50px;
		  		.tittle{
		  		float: left;
		  		width: 380px;
		  		font-weight: bold;
			  	font-size: 18px;
				letter-spacing: 2px;
		  		};
		  		#tutup{
		  		float: left;
		  		width: 20px;
		  		font-size: 15px;
		  		cursor: pointer;
		  		text-align: left;
		  		};
		  	};
		  	.ask_dialog_box{
		  		font-size: 15px;
				letter-spacing: 1.5px;
				margin-bottom: 20px;
				margin-left: 5px;
				margin-right: 5px;
				#ask1{
					display: none;
				};
				#ask2{
					display: none;
				};
				#ask3{
					display: none;
				};
		  	};
		  	.left{
		  		float: left;
		  		width: 50%;
		  		margin-bottom: 20px;
		  		.yes{
		  			padding: 3px;
			  		width: 100px;
			  		height: 25px;	
			  		margin: auto;
			  		color: #fff;
			  		background: #4A1757;
			  		border-radius: 3px;
			  		font-size: 12px;
			  		cursor: pointer;
			  		letter-spacing: 2px;
			  		font-weight: bold;
			  		#yes1{
			  			display: none;
			  		};
			  		#yes2{
			  			display: none;
			  		};
			  		#yes3{
			  			display: none;
			  		};
				};
		  	};
		  	.right{
		  		float: left;
		  		width: 50%;
		  		margin-bottom: 20px;
		  		.no{
		  			padding: 3px;
				  	width: 100px;
				  	height: 25px;
				  	margin: auto;
				  	color: #fff;
				  	background: #4A1757;
				  	border-radius: 3px;
				  	font-size: 12px;
				  	cursor: pointer;
				  	letter-spacing: 2px;
				  	font-weight: bold;
				};
		  	};
		};
	};
};	

#page_pembelian{
	z-index: 2;
	left:0px;
	top:0;
	width: 100%;
	height: 100%;
	position:fixed;
	background: #ffffff;
	display: none;
};

.contain-pembelian{
	z-index: 3;
	width: 90%;
	height: 100%;
	position: fixed;
	margin-top: 140px;
	padding-top: 30px;
	margin-left: 5%; 
	margin-right: 5%;
	overflow: auto;
	.left {
		float: left; 
		width: 37.5%;
		margin-right: 2.5%;
		.count-buy{
			margin-top: 20px;
			float: left;
			margin-right: 20px;
			p{
				float: left;
				text-align: left;
				font-size: 14px;
				margin-right: 5px;
				color: #4A1757;
			}
		};
		.button-pembelian{
			float: left;
			margin-top: 20px;
			.add{
				float: left;
				width: 75px;
				height: 75px;
				border-radius:50%;
				margin-right: 25px;
				font-size: 14px;
				color: #fff;
				background: #4A1757;
				cursor: pointer;
				border: none;
				/* padding-top: 15px;
				padding-left: 15px; */
			};
			.shape{
				float: left;
				width: 75px;
				height: 75px;
				border-radius:50%;
				margin-right: 25px;
				background: #4A1757;
				cursor: pointer;
				.cancel{
					font-size: 14px;
					font-weight: bold;
					color: #fff;
					text-align: center;
					line-height: 75px;
				};
				.new{
					width: 100%;
					font-size: 14px;
					font-weight: bold;
					color: #fff;
					text-align: center;
					margin-top: 15px;
				};
			};
		};
	};
	.right{
		float: left;
		width: 57.5%;
		margin-left: 2.5%;
		.table-head{
			table{
				width: 100%;
				border: none;
				margin-top: 0px;
				thead{
					background: #fff;
					tr{
						border-bottom: 1.75px solid #4A1757;
						th{
							padding: 10px;
							border: none;
							color: #000;
							font-size: 17px;
							letter-spacing: 2px;
						};
					};
				};
			}
		};
		.table-body{
			height: 440px;
			overflow: auto;
			table{
				width: 100%;
				border: none;
				margin-top: 0px;
				thead{
					background: #fff;
					tr{
						border-bottom: 1.75px solid #4A1757;
						th{
							padding: 10px;
							border: none;
							color: #000;
							font-size: 17px;
							letter-spacing: 2px;
						};
					};
				};
				tbody{
					tr{
						background: #fff;
						border-bottom: 1.75px solid #4A1757;
						td{
							padding-left:10px;
							padding-right:10px;
							padding-top: 5px;
							padding-bottom: 5px;
							border: none;
							font-size: 16px;
							letter-spacing: 2px;
							color: #4A1757;
							p{
								padding: 0px;
								text-align: center;
								cursor: pointer;
								margin-top: 15px;
							};
						};
					};
				};
			};
		};
		.total{
			height: 200px;
			margin-top: 30px;
			margin-bottom: 20px;
			color: #4A1757;
			.tittle{
				float: right;
				font-size: 45px;
				font-weight: bold;
				letter-spacing: 5px;
				margin-right: 30px;
			};
			.rp{
				float: right;
				width: 40px;
				height: 40px;
				border-radius:50%;
				background: #4A1757;
				color: #fff;
				font-size: 18px;
				letter-spacing: 1px;
				text-align: center;
				line-height: 40px;
				font-weight: bold;
				margin-right: 5px;
			};
			.nominal{
				float: right;
				font-size: 45px;
				font-weight: bold;
				letter-spacing: 2px;
				color: #4A1757;
			};
		};
	};
};
