<div *ngIf=" !isSuccess && !isConflictNameSatuan && !isSuccessDeleteSatuan" class="space_notif"></div>
<div *ngIf=" isSuccess" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Success</div>
	</div>
</div>
<div *ngIf=" isSuccessDeleteSatuan" class="space_notif_success">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Delete Satuan Bahan Success</div>
	</div>
</div>
<div *ngIf=" isConflictNameSatuan" class="space_notif_fail">
	<div class="centerAll">
		<div class="icon"><i class="fa fa-times fa-lg"  aria-hidden="true"></i></div>
		<div class="text">Name Satuan Conflict</div>
	</div>
</div>
<div class="grid_page">
	<div class="top">
		<div class="tittle">DATA SATUAN BAHAN BAKU</div>
		<div class="underline_tittle"></div>
	</div>
	<div class="merge">
		<form (ngSubmit)=" f.form.valid && manipulateSatuan()" #f="ngForm" novalidate>
			<div *ngIf = " isAdd || isPreview || isEdit">
				<div class="left">
					<div class="row_space"></div>
					<div class="row_input">
						<div class="single">
							<div class="text">Nama Satuan Bahan</div>
							<div *ngIf=" !isPreview"> <!-- input enable -->
								<input class="input" type="text" placeholder="Nama Satuan" name="namaSatuan" [(ngModel)]="model.name_satuan" #namaSatuan="ngModel" required  >
								<div class="notif" *ngIf="( namaSatuan.invalid && namaSatuan.dirty && !isSubmit ) || ( namaSatuan.invalid && f.submitted && !isSubmit ) ">
									<div *ngIf=" namaSatuan.errors.required && !isFirstNameSatuan">Nama Satuan Kosong</div>
								</div>
								<div *ngIf = " !isSubmit  && namaSatuan.dirty && defaultisFirstNameSatuan()"></div>
							</div>
							<div *ngIf=" isPreview"> <!-- input disable -->
								<input class="input" type="text"  name="namaSatuan" [(ngModel)]="model.name_satuan" disabled="" >
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<button type="submit" class="button" *ngIf=" (( isEdit || isAdd)  && !isPreview ) " (click)=" defaultisButton()">Simpan</button> <!-- button enable -->
				<button type="submit" class="button" id="disabledlocked" *ngIf= " ( isPreview )"  disabled="">Simpan</button> <!-- button disable -->
				<div class="button" *ngIf= " ( (!isAdd && !isEdit && !isPreview ) ||  isPreview )" (click)=" clickAddSatuan()">
					<p>Tambah Satuan Bahan</p>
				</div>

				<!-- <button type="submit" class="button" *ngIf= " ( ( isEdit || isAdd)  && !isPreview )" (click)=" defaultisButton()">Simpan</button>
				<button type="submit" class="button" id="disabledlocked" *ngIf= " ( isPreview )"  disabled="">Simpan</button>
				<div class="button" *ngIf= " ( (!isAdd && !isEdit && !isPreview ) ||  isPreview )" (click)=" clickAddStore()">
					<p>Tambah Store</p>
				</div> -->


				<table>
					<thead>
						<tr>
							<th>No</th>
							<th>ID Satuan</th>
							<th>Nama Satuan</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor=" let satuan of satuans |  paginate: {itemsPerPage: 10, currentPage:page, id: '1'} ; let i = index " >
						<tr > 
							<td (click)=" clickPreviewSatuan(satuan)" > {{i+1}} </td>
							<td (click)=" clickPreviewSatuan(satuan)" > {{satuan.id_satuan}} </td>
							<td (click)=" clickPreviewSatuan(satuan)" > {{satuan.name_satuan}} </td>	
							<td >
								<div class="merge_action">
									<div class="left">
										<div class="action_button" (click)=" clickEditSatuan(satuan)"><p>Edit</p></div>  
									</div>
									<div class="left">
										<div class="action_button" (click)=" clickDeleteSatuan( satuan)"><p id="hapus">Hapus</p></div>  
									</div>
								</div>
							</td>
						</tr>
						</ng-container>
					</tbody>
				</table>
				<div class="paggingbawah">
					<pagination-controls class="pagination-controls" (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
			    	</pagination-controls>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="deletedBG"></div>
<div id="deleted">
	<div class="area_dialog_box">
		<div class="dialog_box">
			<div class="tittle_dialog_box">
				<div class="tittle">KONFIRMASI</div>
				<div id="tutup">
					<i class="fa fa-times fa-1x"  id="tutup" aria-hidden="true"></i>
				</div>
			</div>
			<div class="ask_dialog_box"> Apakah anda yakin ingin menghapus Data Satuan Bahan ?</div>
			<div class="left">
				<div class="yes"> YES </div>
			</div>
			<div class="right">
				<div class="no">NO</div>
			</div>
		</div>
	</div>
</div>
