<div class="register">
	<div class="header">
		<div class="header_center">
			<div class="icon"><p>a</p></div>
			<div class="nav_header">
				<ul>
					<li><a href="#">HELP</a></li>
					<li><a href="#">SIGN IN</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div *ngIf=" !isEmail && !isSuccess && !isInputAgain && !isLogin" class="space_notif"></div>
	<div *ngIf=" !isBrandConflict && !isRegistrationNotFound && isLogin" class="space_notif"></div>
	<div *ngIf=" isEmail" class="space_notif_fail">
		<div class="center">
			<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
			<div class="text">Email Exists</div>
		</div>
	</div>
	<div *ngIf=" isInputAgain" class="space_notif_fail">
		<div class="center">
			<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
			<div class="text">Email registration not send, please submit again</div>
		</div>
	</div>
	<div *ngIf=" isSuccess" class="space_notif_success">
		<div class="center">
			<div class="icon"><i class="fa fa-check fa-lg"  aria-hidden="true"></i></div>
			<div class="text">Success, Please Check Email</div>
		</div>
	</div>
	<div *ngIf=" isBrandConflict" class="space_notif_fail">
		<div class="center">
			<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
			<div class="text">Nama Brand Conflict</div>
		</div>
	</div>
	<div *ngIf=" isRegistrationNotFound" class="space_notif_fail">
		<div class="center">
			<div class="icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
			<div class="text">Registration Not Found</div>
		</div>
	</div>
	<div class="container" *ngIf = " !isLogin ">
		<form (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
			<div class="card">
				<div class="row_tittle">Sign Up</div>
				<div class="row_space"></div>
				<div class="row_contain">
					<div class="icon">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>
					<input type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required minlength="4" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
				</div>
				<div class="row_notif" *ngIf="( email.invalid && email.dirty  && !isSubmit )  || ( email.invalid && f.submitted && !isSubmit)">
					<div *ngIf=" email.errors.required && !isFirstEmail ">
						<div class="line"></div>
						<div class="text">Email Kosong </div>
					</div>
					<div *ngIf=" email.errors.pattern ">
					    <div class="line"></div>
						<div class="text">Email salah</div>
					</div>
				</div>
				<div *ngIf = " !isSubmit  && email.dirty && defaultisFirstEmail()"></div>
				<div class="row_contain">
					<div class="icon">
						<i class="fa fa-key" aria-hidden="true"></i>
					</div>
					<input type="password"  placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required minlength=5 validateEqual="confirm_password" reverse="true">
				</div>
				<div class="row_notif" *ngIf=" ( password.invalid &&  password.dirty && (!isSubmit || isSubmit)) || ( password.invalid && f.submitted && !isSubmit)">
					<div *ngIf=" password.errors.required && passrequired() " ></div>
					<div *ngIf=" !password.errors.required && passnotrequired() " ></div>
					<div *ngIf=" password.errors.required && !isFirstPassword ">
						<div class="line"></div>
						<div class="text">Password kosong</div>
					</div>
					<div *ngIf="password.errors.minlength">
						<div class="line"></div>
						<div class="text">Password minimal 5 karakter</div>
					</div>
				</div>
				<div *ngIf=" password.dirty && defaultisconfPass() && f.submitted"></div>
				<div *ngIf = " !isSubmit  && password.dirty && defaultisFirstPassword()"></div>
				<div class="row_contain">
					<div class="icon">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</div>
					<input type="password" placeholder="Confirm Password" name="confirm_password" [(ngModel)]="model.confirm_password" #confirm_password="ngModel" required validateEqual="password" reverse="false">
				</div>
				<div class="row_notif" *ngIf="(( confirm_password.invalid && (!isSubmit || isSubmit) || confirm_password.pristine && (!isSubmit || isSubmit)) && confirm_password.dirty && (!isSubmit || isSubmit)) || ( confirm_password.invalid  && f.submitted && !isSubmit) ">
					<div *ngIf=" (!confirm_password.errors.required && isconfPass) || (!confirm_password.errors.required && !isCheckPassword && !f.submitted) ">
					    <div class="line"></div>
						<div class="text">Confirm Password missmatch</div>
					</div>
					<div *ngIf=" ( !confirm_password.errors.required && !isconfPass && (!isSubmit || isSubmit)&& !isFirstConfPassword && isCheckPassword) || (!isconfPass && confirm_password.errors.required && (!isSubmit || isSubmit)&& !isFirstConfPassword  && !isCheckPassword ) || (!isconfPass && confirm_password.errors.required && (!isSubmit || isSubmit) && !isFirstConfPassword  && isCheckPassword ) ">
					    <div class="line"></div>
						<div class="text">Confirm Password kosong</div>
					</div>
				</div>
				<div class="row_notif" *ngIf = " password.dirty && (!isSubmit || isSubmit) && confirm_password.valid ">
					<div *ngIf=" ( !isconfPass && isPass && isPassrequired && !isFirstConfPassword)"  >
					    <div class="line"></div>
						<div class="text">Confirm Password kosong</div>
					</div>
				</div>
				<div *ngIf = " !isSubmit  && confirm_password.dirty && defaultisFirstConfPassword()"></div>
				<div *ngIf = " confirm_password.dirty && checkPassword()"></div>
				<button type="submit" class="button_register" (click)=" defaultisButton()">Create Account</button>
			</div>
		</form>
	</div>
	<div class="container_info" *ngIf = " isLogin"> 
		<form (ngSubmit)="f1.form.valid && registerInfo()" #f1="ngForm" novalidate>
			<div class="top">
				<div class="tittle">PROFIL BRAND</div>
				<div class="underline_tittle"></div>
			</div>
			<div class="merge">
				<div class="left">
					<div class="row_tittle">INFORMASI BRAND</div>
					<div class="underline"></div>
					<div class="row_space"></div>
					<div class="row_input">
						<div class="single">
							<input class="input" type="text" placeholder="Nama Brand" name="nameBrand" [(ngModel)]="model.name_brand" #nameBrand="ngModel" required>
							<div class="notif" *ngIf="( nameBrand.invalid && nameBrand.dirty && !isSubmit ) || ( nameBrand.invalid && f1.submitted  ) ">
								<div *ngIf=" nameBrand.errors.required && !isFirstNameBrand">Nama Brand kosong</div>
							</div>
							<div *ngIf = " !isSubmit  && email.dirty && defaultisFirstNameBrand()"></div>
						</div>
					</div>
					<div class="row_input">
						<div class="multi">
							<div class="multi_left">
								<select class="input" name="nameProvince" ngModel  #nameProvince="ngModel" (change)=" clickProvince(nameProvince.viewModel)" required >
									<option value="" disabled>PROVINSI</option>
								 	<option *ngFor=" let prov of provinces" [ngValue]="prov">{{prov.province_name}}</option>
								</select>
								<div class="notif" *ngIf="( nameProvince.invalid && nameProvince.dirty && !isSubmit ) || ( nameProvince.invalid && f1.submitted && !isSubmit)">
									<div *ngIf = " nameProvince.errors.required">Provinsi kosong</div> 
								</div>
							</div>
							<div class="multi_right">
								<select class="input" type="select"  name="nameCity" ngModel #nameCity="ngModel"  (change)=" clickCity(nameCity.viewModel)" required>
									<option value="" disabled>KOTA</option>
									<option *ngFor=" let city of cityes" [ngValue]="city">{{city.city_name}}</option>
								</select>
								<div class="notif" *ngIf="( nameCity.invalid && nameCity.dirty && !isSubmit ) || ( nameCity.invalid && f1.submitted && !isSubmit)">
									<div *ngIf = " nameCity.errors.required">Kota kosong </div> 
								</div>
								<div class="notif" *ngIf="(!isCity && !nameCity.invalid)">Kota kosong</div>
							</div>
						</div>
					</div>
					<div class="row_input">
						<div class="single">
							<input class="input" type="text" placeholder="Alamat" name="detail" [(ngModel)]="address_brand.detail" #detail="ngModel" required>
							<div class="notif" *ngIf="( detail.invalid && detail.dirty && !isSubmit ) || ( detail.invalid && f1.submitted && !isSubmit ) ">
								<div *ngIf=" detail.errors.required">Alamat Brand kosong</div>
							</div>
						</div>
					</div>
					<div class="row_input">
						<div class="multi">
							<div class="multi_left">
								<input class="input" type="text" placeholder="Email" name="email" [(ngModel)]="contact.email" #email="ngModel" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
								<div class="notif" *ngIf="( email.invalid && email.dirty && !isSubmit ) || ( email.invalid && f1.submitted && !isSubmit ) ">
									<div *ngIf=" email.errors.required">Email kosong</div>
									<div *ngIf=" email.errors.pattern">Email salah</div>
								</div>
							</div>
							<div class="multi_right">
								<input class="input" type="text" placeholder="Phone Brand" name="phoneBrand" [(ngModel)]="contact.phone" #phoneBrand="ngModel" required pattern="^\d+$" minlength=11 maxlength=15> 
								<div class="notif" *ngIf="( phoneBrand.invalid && phoneBrand.dirty && !isSubmit ) || ( phoneBrand.invalid && f1.submitted && !isSubmit ) ">
									<div *ngIf=" phoneBrand.errors.required">Phone Brand kosong</div>
									<div *ngIf=" !phoneBrand.errors.pattern && phoneBrand.errors.minlength">Phone Brand minimal 11 digit</div>
									<div *ngIf=" phoneBrand.errors.pattern && phoneBrand.errors.minlength">Phone Brand minimal 11 digit dan harus angka</div>
									<div *ngIf=" phoneBrand.errors.pattern && !phoneBrand.errors.minlength "> Phone Brand harus angka</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row_input">
						<div class="multi">
							<div class="multi_left">
								<input class="input" type="text" placeholder="Facebook" name="fb" [(ngModel)]="social_media.fb" #fb="ngModel">
							</div>
							<div class="multi_right">
								<input class="input" type="text" placeholder="Instagram" name="ig" [(ngModel)]="social_media.ig" #ig="ngModel">
							</div>
						</div>
					</div>
					<div class="row_tittle">INFORMASI SUPER USER</div>
					<div class="underline"></div>
					<div class="row_space"></div>
					<div class="row_input">
						<div class="multi">
							<div class="multi_left">
								<input class="input" type="text" placeholder="Username" name="username" [(ngModel)]="info_user.username" #username="ngModel" required>
								<div class="notif" *ngIf="( username.invalid && username.dirty && !isSubmit ) || ( username.invalid && f1.submitted && !isSubmit ) ">
									<div *ngIf=" username.errors.required">Username kosong</div>
								</div>
							</div>
							<div class="multi_right">
								<input class="input" type="text" placeholder="Phone User" name="phoneUser" [(ngModel)]="info_user.phone" #phoneUser="ngModel" required pattern="^\d+$" minlength=11 maxlength=15>
								<div class="notif" *ngIf="( phoneUser.invalid && phoneUser.dirty && !isSubmit ) || ( phoneUser.invalid && f1.submitted && !isSubmit ) ">
									<div *ngIf=" phoneUser.errors.required">Phone User kosong</div>
									<div *ngIf=" !phoneUser.errors.pattern && phoneUser.errors.minlength">Phone User minimal 11 digit</div>
									<div *ngIf=" phoneUser.errors.pattern && phoneUser.errors.minlength">Phone User minimal 11 digit dan harus angka</div>
									<div *ngIf=" phoneUser.errors.pattern && !phoneUser.errors.minlength "> Phone User harus angka</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="row_tittle">LOGO BRAND</div>
					<div class="underline"></div>
					<div class="row_space"></div>
					<div class="photo" (mouseleave)=" buttonImportImage(false)">
						<img-cropper #cropper [image]="dataImage" [settings]="cropperSettings" *ngIf = " !isPhotoDefault && !isPhotoImport "></img-cropper>
						<div class="photo_default" *ngIf = " isPhotoDefault" (mouseover)=" buttonImportImage(true)" ></div>
						<div class="photo_import" *ngIf = " isPhotoImport" (mouseover)=" buttonImportImage(true)" >
							<img [src]="dataImage.image" [width]="250" [height]="250">
						</div>
						<div class="button_importPhoto" *ngIf = " isButtonImportImage">
							<div class="text">
								<label>
								    <i class="fa fa-camera fa-3x" aria-hidden="true" ></i>
									<input type="file" name="image_file" (change)="fileChangeListener($event)">
								 </label>
							</div>
						</div>
					</div>
					<div class="button_cropPhoto" (click)= " changeisPhotoImport(true) " *ngIf = " !isPhotoImport && !isPhotoDefault">
						<div class="text">Crop</div>
					</div>
				</div>
				<div class="bottom">
					<button type="submit" class="button_registerInfo" (click)=" defaultisButtonRegisterInfo()" *ngIf = " isPhotoDefault || isPhotoImport">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>

