<div *ngIf=" !isSuccess" class="space_notif"></div>
<div class="grid_page">
	<div class="top">
		<div class="tittle">PEMBELIAN</div>
		<div class="underline_tittle"></div>
	</div>
	<div class="merge">
		<div class="row_input">
			<div class="multi">
				<div class="multi_left">
					<div class="row_space"></div>
					<div class="text">STORE</div>
					<select class="input" name="nameStore" ngModel  #nameStore="ngModel" (change)=" clickStore(nameStore.viewModel)"> 
						<option value="" disabled >PILIH STORE</option>
						<option  *ngFor=" let store of stores" [ngValue]="store" >{{store.name_store}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="page_pembelian">
	<div class="headers-transaction">
		<div class="contain-headers-pembelian">
			<div class="left">
			<img src="{{storeProfile.path_image}}" class="img-store">
				<div class="profile-store">
					<div class="tittle">PEMBELIAN</div>
					<div class="nameStore"> {{storeProfile.name_store}} </div>
					<div class="address"> {{storeProfile.address_store.detail}} </div>
					<div class="address"> {{storeProfile.address_store.city_name}}, {{storeProfile.address_store.province_name}}</div>
					<div class="date"> {{fullDate}} {{fullTime}}</div>
				</div>
			</div>
			<div class="right">
				<div class="close-pembelian"  (click)= " clickClosePembelian()"><i class="fa fa-times fa-2x"  aria-hidden="true" id="hapus"></i></div>
			</div>
		</div>
	</div>
	<div class="contain-pembelian">
		<form (ngSubmit)=" f.form.valid && transaksiPembelian()" #f="ngForm" novalidate>
			<div class="left">
				<div class="row_input">
					<div class="multi">
						<div class="multi_left">
							<div class="text">ID Pembelian</div>
							<input class="input" type="text" placeholder="ID Pembelian" name="idPembelian" [(ngModel)]="pembelian.id_pembelian"  disabled="">
						</div>
					</div>
				</div>
				<div class="row_input">
					<div class="multi">
						<div class="multi_left">
							<div class="text">Bahan Baku</div>
							<input class="input" type="text" placeholder="Bahan Baku" name="nameBahanBaku" [(ngModel)]="detail_pembelian.name_bahan_baku" 	
								autocomplete="off" 
								[typeahead]= "bahanbakus"
						       	[typeaheadScrollable]="true"
						       	[typeaheadOptionsInScrollableView]="5" 
						       	typeaheadMinLength = "2"
						       	(typeaheadOnSelect)="typeaheadOnSelect($event)"
						       	typeaheadOptionField="bahan_baku.name_bahan_baku"
						       	class="form-control" >
					       	<div class="notif" *ngIf="( f.submitted && !isSubmitPembelian)">
								<div *ngIf = " !isFirstBahanBaku">Bahan Baku kosong</div> 
							</div>
						</div>
						<div class="multi_right">
							<div class="text">Satuan</div>
							<input class="input" type="text" placeholder="Satuan" name="satuan" [(ngModel)]="satuan.name_satuan"  disabled="">
						</div>
					</div>
				</div>
				<div class="row_input">
					<div class="multi">
						<div class="multi_left">
							<div class="text">Jumlah</div>
							<input class="input" type="text" placeholder="Jumlah" name="jumlah" [(ngModel)]="detail_pembelian.qty"  #jumlah="ngModel"  required pattern="^\d+$">
							<div class="notif" *ngIf="( jumlah.invalid && f.submitted && !isSubmitPembelian) || (jumlah.invalid && jumlah.dirty && !isSubmitPembelian)">
								<div *ngIf=" jumlah.errors.required && !isFirstJumlah ">Jumlah kosong</div>
								<div *ngIf=" jumlah.errors.pattern "> Jumlah harus angka</div>
							</div>
							<div *ngIf = "  !isSubmitPembelian && jumlah.dirty && defaultisFirstJumlah()"></div>
						</div>
						<div class="multi_right">
							<div class="text">Harga</div>
							<input class="input" type="text" placeholder="Harga" name="harga" [(ngModel)]="detail_pembelian.price" #harga="ngModel" required pattern="^\d+$">
							<div class="notif" *ngIf="( harga.invalid && f.submitted && !isSubmitPembelian) || (harga.invalid && harga.dirty && !isSubmitPembelian)">
								<div *ngIf=" harga.errors.required && !isFirstHarga ">Jumlah kosong</div>
								<div *ngIf=" harga.errors.pattern "> Jumlah harus angka</div>
							</div>
							<div *ngIf = "  !isSubmitPembelian && harga.dirty && defaultisFirstHarga()"></div>
						</div>
					</div>
				</div>
				<div class="count-buy">
					<p><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></p> 
					<p>{{totalItem}}</p>
				</div>
				<div class="button-pembelian">
					<button type="submit" class="add" (click)=" defaultisButton()">
						<i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
					</button> 
					<div class="shape" id="hapus" (click)=" clickCancelPembelian()">
						<div class="cancel" id="hapus">BATAL</div>
					</div>
					<div class="shape"  (click)=" clickNewTransaksi()">
						<div class="new">
							<i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="table-head">
					<table>
						<thead>
							<tr>
								<th width="5%">No</th>
								<th width="40%">Bahan Baku</th>
								<th width="10%">Qty</th>
								<th width="15%">Harga</th>
								<th width="20%">SubTotal</th>
								<th width="10%">Action</th>
							</tr>
						</thead>
					</table>
				</div>
				<div class="table-body">
					<table>
						<tbody>
							<ng-container *ngFor=" let detailpembelian of detailpembelians |  paginate: {itemsPerPage: 10, currentPage:page, id: '1'} ; let i = index " >
							<tr > 
								<td width="5%">{{i+1}}</td>
								<td width="40%">{{detailpembelian.name_bahan_baku}}</td>
								<td width="10%">{{detailpembelian.qty}}</td>
								<td width="15%">{{detailpembelian.price}}</td>
								<td width="20%">{{detailpembelian.sub_total}}</td>
								<td width="10%">
									<p id="hapus" (click)=" clickCancelDetailPembelian(detailpembelian)"><i class="fa fa-trash fa-lg" aria-hidden="true" id="hapus"></i></p> 
								</td>
							</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
				<div class="total">
					<div class="nominal">{{totalNominal}}</div>
					<div class="rp">Rp</div>
					<div class="tittle">TOTAL</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="deletedBG"></div>
<div id="deleted">
	<div class="area_dialog_box">
		<div class="dialog_box">
			<div class="tittle_dialog_box">
				<div class="tittle">KONFIRMASI</div>
				<div id="tutup">
					<i class="fa fa-times fa-1x"  id="tutup" aria-hidden="true"></i>
				</div>
			</div>
			<div class="ask_dialog_box">
				<div id="ask1">Apakah anda ingin membatalkan Transaksi Pembelian?</div>
				<div id="ask2">Apakah anda ingin membatalkan Item Pembelian ?</div>
				<div id="ask3">Apakah anda sudah menyelesaikan semua Transaksi Pembelian ?</div>
			</div>
			<div class="left">
				<div class="yes">
					<div id="yes1">YES</div>
					<div id="yes2">YES</div>
					<div id="yes3">YES</div>
				</div>
			</div>
			<div class="right">
				<div class="no">NO</div>
			</div>
		</div>
	</div>
</div>